{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "ignore": [
    "./biz/webui/htdocs/src/js/components/json/eval.js"
  ]
}
