{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": [
            "error",
            2
        ],
        "react/prop-types": 0,
        "react/no-direct-mutation-state": 0,
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-unused-vars": [
          "error",
          {
            "vars": "all",
            "args": "none"
          }
        ],
        "no-empty": [
              "error",
              { "allowEmptyCatch": true }
        ],
        "no-cond-assign": "off"
    }
}
