.w-about-dialog .modal-dialog {
  width: 390px;
}
.w-about-dialog .modal-dialog .modal-body {
  padding-bottom: 15px;
}
.w-about-dialog-ctn {
  display: inline-block;
  padding-top: 10px;
  margin-left: 20px;
}
.w-about-dialog-title {
  margin-bottom: 10px;
  display: block;
}
.w-about-dialog img {
  width: 60px;
  vertical-align: top;
  margin-top: 10px;
}
.w-about-menu {
  position: relative;
}
