.w-account-dialog .modal-dialog {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 15px;
}

.w-editor-win .modal-dialog {
  width: calc(100% - 120px);
  height: calc(100% - 100px);
  margin: 50px 60px;
}

.w-editor-win {
  z-index: 99999;
}

.w-account-dialog button.close, .w-custom-dialog button.close {
  font-size: 20px;
  line-height: 6px;
  padding: 2px 2px 8px 3px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: -9px;
  right: -9px;
  opacity: 1;
  color: #999;
  z-index: 1;
}

.w-account-dialog .modal-content, .w-custom-dialog .modal-content {
  border-radius: 5px;
  height: 100%;
  padding: 0;
}

.w-account-dialog iframe, .w-custom-dialog iframe {
  border-radius: 5px;
}

.w-account-dialog .modal-body, .w-custom-dialog .modal-body {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
}
