.w-add-rule-dialog .modal-content {
  width: 630px;
}

.w-add-rule-preview .modal-dialog, .w-add-rule-preview .modal-content {
  width: 900px;
}

.w-add-rule-dialog .modal-body>div {
  margin-bottom: 10px;
  white-space: nowrap;
}

.w-add-rule-dialog .modal-body>div:nth-child(2) {
  margin-top: 25px;
}

.w-add-rule-dialog .modal-body>div:nth-child(3) {
  margin-bottom: 15px;
}

.w-add-rule-dialog .glyphicon {
  margin-right: 5px;
}

.w-add-rule-dialog label {
  display: inline-block;
  width: 90px;
  margin-right: 15px;
  line-height: 32px;
  text-align: right;
}

.w-add-rule-dialog .w-add-rule-pattern {
  width: 480px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px;
}

.w-add-rule-dialog select, .w-add-rule-preview select {
  width: 480px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-add-rule-dialog .w-add-rule-protocols {
  width: 130px;
  height: 120px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  font-weight: bold;
}

.w-add-rule-dialog textarea {
  vertical-align: top;
  display: inline-block;
  width: 350px;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5px;
}

.w-add-rule-dialog .w-add-rule-filter {
  width: 480px;
  height: 63px;
  margin-bottom: 5px;
}

.w-add-rule-preview-name {
  width: auto!important;
  margin: 0 5px;
  vertical-align: middle;
}

.w-add-rule-preview .CodeMirror {
  height: 480px;
}

.w-add-preview-title {
  font-weight: bold;
}
