@media (prefers-color-scheme: dark) {
  .w-auto {
    filter: invert(1) hue-rotate(-180deg);
  }
  .w-auto body,
  .w-auto .w-req-data-list tr {
    background: #eaeaea;
  }
  .w-auto .w-list-data  {
    background: #ddd;
  }
  .w-auto .w-list-data a {
    background: #e6e6e6;
  }
  .w-auto .w-list-data .w-active {
    background: #337ab7;
  }
  .w-auto .w-list-data .w-list-group {
    background: #fff;
  }
  .w-auto .w-list-data .w-list-group.w-list-group-active {
    background: #efefef;
  }
  .w-auto img {
    filter: invert(1) hue-rotate(180deg);
  }
  .w-auto .highlight,
  .w-auto .w-highlight td,
  .w-auto .w-highlight th {
    animation-name: blink-dark;
  }
  .w-auto input,
  .w-auto textarea {
    filter: invert(1) hue-rotate(-180deg);
    color-scheme: dark !important;
    color: #becac5;
    border-color: #333;
    background: #161616 !important;
  }

  .w-auto .w-composer-body textarea[readonly],
  .w-auto .w-composer-headers textarea[readonly],
  .w-auto .w-composer-rules textarea:disabled,
  .w-auto .w-composer-rules textarea[readonly],
  .w-auto .w-detail-composer input[readonly],
  .w-auto .w-mock-key-name[readonly] {
    background: #333!important;
  }
  .w-auto .CodeMirror,
  .w-auto .w-menu,
  .w-auto .w-left-menu,
  .w-auto .w-context-menu,
  .w-auto iframe[disabledDarkMode] {
    filter: invert(1) hue-rotate(-180deg);
  }

  .w-auto .w-menu,
  .w-auto .w-left-menu {
    background: #1f1f1f;
  }
  .w-auto .w-menu {
    border-top: 1px solid #030303;
    border-bottom: 1px solid #333;
  }
  .w-auto .w-left-menu {
    border-right: 1px solid #333;
  }
  .w-auto .w-menu a,
  .w-auto .w-left-menu a {
    color: #becac5;
  }
  .w-auto .w-menu a:hover,
  .w-auto .w-left-menu a:hover,
  .w-auto .w-menu .w-online {
    color: #6294ce;
  }
  .w-auto .w-menu-item {
    background: #000;
    border: 1px solid #333;
  }
  .w-auto .w-menu-selected {
    background: #3c3c3c;
  }
  .w-auto .w-ctx-menu-list {
    background: #272121!important;
    color: #eae9e9;
    border-color: #525361;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, .06);
  }
  .w-auto .w-ctx-menu-item:hover {
    background: #2c5ba6;
  }
  .w-auto .w-ctx-menu-item:hover:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .w-auto .w-ctx-menu-item:hover:last-child  {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .w-auto .w-ctx-item-disabled:hover {
    background: #272121 !important;
  }
  .w-auto .w-ctx-item-sep {
    border-top: 1px solid #333;
  }
  .w-auto .tree-node.w-selected,
  .w-auto .tree-node:hover {
    color: #000;
  }
}


.w-auto.w-dark {
  filter: invert(1) hue-rotate(-180deg);
}
.w-auto.w-dark body,
.w-auto.w-dark .w-req-data-list tr {
  background: #eaeaea;
}
.w-auto.w-dark .w-list-data  {
  background: #ddd;
}
.w-auto.w-dark .w-list-data a {
  background: #e6e6e6;
}
.w-auto.w-dark .w-list-data .w-active {
  background: #337ab7;
}
.w-auto.w-dark .w-list-data .w-list-group {
  background: #fff;
}
.w-auto.w-dark .w-list-data .w-list-group.w-list-group-active {
  background: #efefef;
}
.w-auto.w-dark img {
  filter: invert(1) hue-rotate(180deg);
}
.w-auto.w-dark .highlight,
.w-auto.w-dark .w-highlight td,
.w-auto.w-dark .w-highlight th {
  animation-name: blink-dark;
}
@keyframes blink-dark {
  70% {
    background-color: #c4b000;
  }
}
.w-auto.w-dark input,
.w-auto.w-dark textarea {
  filter: invert(1) hue-rotate(-180deg);
  color-scheme: dark !important;
  color: #becac5;
  border-color: #333;
  background: #161616 !important;
}

.w-auto.w-dark .w-composer-body textarea[readonly],
.w-auto.w-dark .w-composer-headers textarea[readonly],
.w-auto.w-dark .w-composer-rules textarea:disabled,
.w-auto.w-dark .w-composer-rules textarea[readonly],
.w-auto.w-dark .w-detail-composer input[readonly],
.w-auto.w-dark .w-mock-key-name[readonly] {
  background: #333!important;
}
.w-auto.w-dark .CodeMirror,
.w-auto.w-dark .w-menu,
.w-auto.w-dark .w-left-menu,
.w-auto.w-dark .w-context-menu,
.w-auto.w-dark iframe[disabledDarkMode] {
  filter: invert(1) hue-rotate(-180deg);
}

.w-auto.w-dark .w-menu,
.w-auto.w-dark .w-left-menu {
  background: #1f1f1f;
}
.w-auto.w-dark .w-menu {
  border-top: 1px solid #030303;
  border-bottom: 1px solid #333;
}
.w-auto.w-dark .w-left-menu {
  border-right: 1px solid #333;
}
.w-auto.w-dark .w-menu a,
.w-auto.w-dark .w-left-menu a {
  color: #becac5;
}
.w-auto.w-dark .w-menu a:hover,
.w-auto.w-dark .w-left-menu a:hover,
.w-auto.w-dark .w-menu .w-online {
  color: #6294ce;
}
.w-auto.w-dark .w-menu-item {
  background: #000;
  border: 1px solid #333;
}
.w-auto.w-dark .w-menu-selected {
  background: #3c3c3c;
}
.w-auto.w-dark .w-ctx-menu-list {
  background: #272121!important;
  color: #eae9e9;
  border-color: #525361;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, .06);
}
.w-auto.w-dark .w-ctx-menu-item:hover {
  background: #2c5ba6;
}
.w-auto.w-dark .w-ctx-menu-item:hover:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.w-auto.w-dark .w-ctx-menu-item:hover:last-child  {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.w-auto.w-dark .w-ctx-item-disabled:hover {
  background: #272121 !important;
}
.w-auto.w-dark .w-ctx-item-sep {
  border-top: 1px solid #333;
}
.w-auto.w-dark .tree-node.w-selected,
.w-auto.w-dark .tree-node:hover {
  color: #000;
}
