.w-assistant {
  --x: 0;
  --y: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: url(../../img/assistant.svg) var(--b-default) no-repeat center center / 100% 100%;
  box-shadow: 0 4px 10px var(--s-rgba20);
  cursor: default;
  z-index: calc(var(--z-max) + 10);
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(var(--x), var(--y));
}

.w-assistant:hover {
  background-color: var(--b-active);
}

.w-assistant-dialog {
  position: fixed;
  z-index: calc(var(--z-max) + 11);
  height: calc(100% - 60px);
  min-height: 530px;
  max-height: 960px;
  min-width: 560px;
  max-width: 760px;
  width: 36%;
  background: var(--b-default);
  box-shadow: 0 4px 10px var(--s-rgba20);
  border: 1px solid var(--c-border);
  border-radius: 5px;
  bottom: 20px;
  right: 20px;
}

.w-assistant-dialog iframe, .w-assistant-dialog > div, .w-assistant-dialog .w-fix-drag {
  width: 100%;
  height: 100%;
  border: none;
}
