:root {
  --z-max: 1000000100;
  --z-modal: 1051;
  --z-modal-max: 1059;
  --z-cm: 999999;
  --z-menu: 1001;
  --z-ctx-menu: 99999999;

  --c-default: #000;
  --c-active: #fff;
  --c-editor: #ddd;
  --c-disabled: #aaa;
  --c-hover: #337ab7;
  --c-border: #ccc;
  --c-error: red;
  --c-risk: #f66;
  --c-gray: #808080;
  --c-weak: #555;

  --bg-default: #fff;
  --bg-error: #f2dede;
  --bg-active: #ddd;
  --bg-hover: #f5f5f5;
  --bg-disabled: #f5f5f5;
  --bg-bar: #fafafa;
  --bg-mark: #3b88fd;
}

html,
body,
.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  min-width: 1078px; /* 兼容竖屏 */
  min-height: 560px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  min-height: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.15);
}

body::-webkit-scrollbar {
  height: 0;
}

.cm-error-rule {
  text-decoration: line-through !important;
  color: #af2018 !important;
  font-style: italic;
}
pre {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: inherit;
  display: block;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.n-monospace {
  font-family: monospace;
}
body .CodeMirror pre {
  font-family: consolas, monospace;
}
input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  vertical-align: text-bottom;
}
.glyphicon-ban-circle {
  color: var(--c-risk);
}

.w-filter-input {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 30px;
  color: var(--c-active);
  padding: 2px 5px;
  border: none;
  border-top: 1px solid var(--c-border);
  border-bottom: 1px solid var(--c-border);
}
.shadow {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
}
textarea[readonly] {
  outline: none;
}
textarea {
  resize: none;
  display: block;
  font-size: 12px;
}
.hide {
  display: none !important;
}
.visible {
  visibility: visible!important;
}

.box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.orient-vertical-box {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.fill {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.box > .fill {
  width: 0;
}
.orient-vertical-box > .fill {
  height: 0;
} /**不加这个滚动会有问题**/
.table {
  table-layout: fixed;
  margin: 0 !important;
}
.table .w-empty {
  text-align: center;
  font-style: italic;
  color: var(--c-disabled);
  border-bottom: none !important;
  padding: 20px 0 !important;
}
.w-empty-data {
  position: absolute;
  width: 100px;
  text-align: center;
  color: var(--c-disabled);
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -50px;
}
.w-expand-collapse {
  margin-left: 5px;
  height: 20px;
  line-height: 14px;
  font-size: 12px;
  color: var(--c-default);
}
.w-arrow,
.w-arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.w-arrow {
  border-width: 7px;
}
.w-arrow::after {
  content: '';
  border-width: 6px;
}

.w-arrow-left {
  top: 50%;
  left: -7px;
  margin-top: -7px;
  border-right-color: var(--c-border);
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.w-arrow-left::after {
  bottom: -6px;
  left: 1px;
  border-right-color: #f1f3f4;
  border-left-width: 0;
}

.w-arrow-right {
  top: 50%;
  right: -7px;
  margin-top: -7px;
  border-left-color: var(--c-border);
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}
.w-arrow-right::after {
  bottom: -6px;
  right: 1px;
  border-left-color: lightyellow;
  border-right-width: 0;
}

.modal-dialog .modal-body,
.modal-dialog .modal-footer {
  padding: 10px;
}
.modal-footer .btn {
  padding: 5px 10px;
}

.cm-s-ambiance ::-webkit-scrollbar-thumb,
.cm-s-blackboard ::-webkit-scrollbar-thumb,
.cm-s-cobalt ::-webkit-scrollbar-thumb,
.cm-s-erlang-dark ::-webkit-scrollbar-thumb,
.cm-s-lesser-dark ::-webkit-scrollbar-thumb,
.cm-s-midnight ::-webkit-scrollbar-thumb,
.cm-s-monokai ::-webkit-scrollbar-thumb,
.cm-s-night ::-webkit-scrollbar-thumb,
.cm-s-dark ::-webkit-scrollbar-thumb,
.cm-s-twilight ::-webkit-scrollbar-thumb,
.cm-s-vibrant-ink ::-webkit-scrollbar-thumb,
.cm-s-xq-dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.cm-s-ambiance ::-webkit-scrollbar-thumb:hover,
.cm-s-blackboard ::-webkit-scrollbar-thumb:hover,
.cm-s-cobalt ::-webkit-scrollbar-thumb:hover,
.cm-s-erlang-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-lesser-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-midnight ::-webkit-scrollbar-thumb:hover,
.cm-s-monokai ::-webkit-scrollbar-thumb:hover,
.cm-s-night ::-webkit-scrollbar-thumb:hover,
.cm-s-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-twilight ::-webkit-scrollbar-thumb:hover,
.cm-s-vibrant-ink ::-webkit-scrollbar-thumb:hover,
.cm-s-xq-dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.cm-s-ambiance ::-webkit-scrollbar-track:hover,
.cm-s-blackboard ::-webkit-scrollbar-track:hover,
.cm-s-cobalt ::-webkit-scrollbar-track:hover,
.cm-s-erlang-dark ::-webkit-scrollbar-track:hover,
.cm-s-lesser-dark ::-webkit-scrollbar-track:hover,
.cm-s-midnight ::-webkit-scrollbar-track:hover,
.cm-s-monokai ::-webkit-scrollbar-track:hover,
.cm-s-night ::-webkit-scrollbar-track:hover,
.cm-s-dark ::-webkit-scrollbar-track:hover,
.cm-s-twilight ::-webkit-scrollbar-track:hover,
.cm-s-vibrant-ink ::-webkit-scrollbar-track:hover,
.cm-s-xq-dark ::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.w-hide {
  display: none!important;
}

.w-offline-status .w-menu a,
.w-offline-status .w-left-menu a {
  color: var(--c-disabled) !important;
}

body .cm-s-cobalt span.cm-number {
  color: #ff1605;
}
.w-hide-no-value .w-no-value {
  display: none !important;
}

.w-detail .w-dock-btn {
  border: none;
  background: transparent;
  padding: 4px 0;
  width: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  outline: none;
}
.w-detail .w-dock-btn .glyphicon {
  margin: 0 !important;
}
.w-detail .w-dock-btn:hover {
  background: var(--bg-hover);
}

.btn.active,
.btn:active {
  box-shadow: none !important;
}

.CodeMirror-hints {
  z-index: var(--z-cm) !important;
}

.w-mark th,
.w-mark td {
  background-color: var(--bg-mark) !important;
  color: var(--c-active) !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  outline: none;
}

.w-not-allowed {
  cursor: not-allowed;
}

.w-bold {
  font-weight: bold !important;
}

a {
  cursor: pointer;
}

.w-delete {
  color: var(--c-risk)!important;
}

.w-delete:hover {
  color: red!important;
}

.w-editor-dialog .modal-dialog {
  width: 960px;
}

.w-editor-dialog .modal-body {
  background: var(--bg-bar);
}

.w-editor-dialog textarea {
  width: 940px;
  height: 520px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--c-border);
}

.w-big-editor-dialog .modal-dialog {
  width: 1000px;
}

.w-big-editor-dialog textarea {
  width: 980px;
  height: 550px;
}

.w-win-dialog {
  z-index: calc(var(--z-modal-max) + 1);
}

.w-win-dialog .modal-dialog {
  width: 480px;
}

.w-win-dialog pre {
  font-size: 15px;
  padding: 12px 10px;
  line-height: 2;
  margin: 0;
  word-break: break-word;
}

.w-win-dialog .modal-body {
  margin: 0;
}

.w-gray {
  color: var(--c-gray);
  margin-left: 5px;
}

.w-tabs > li > a {
  padding: 5px 10px;
}

.w-tabs > li > a > span {
  margin-right: 5px;
}

.modal.in {
  overflow-x: hidden;
  overflow-y: auto;
}

.glyphicon-cloud {
  vertical-align: text-bottom;
  padding-bottom: 1px;
  margin-right: 3px;
}

.glyphicon-gift {
  margin-right: 3px;
}

.glyphicon-folder-open {
  margin-right: 6px;
}

.w-fake-iframe {
  display: inline-block;
  vertical-align: top;
}

.w-fix-drag {
  position: relative;
}

.w-fix-drag::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.w-fix-drag:hover::after {
  display: none;
}

.modal-header h4 {
  font-size: 15px;
  font-weight: 500;
  display: inline;
}

.w-align-items {
  display: flex!important;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.w-align-items input {
  margin-right: 5px;
}

.w-fmt-btn .glyphicon {
  margin-right: 5px;
}

.w-cell-img {
  max-height: 17px;
  max-width: 20px;
  margin: -3px 6px 0 0;
}

.inline-align-items {
  display: inline-flex;
  align-items: center;
}

.w-shake-horizontal {
    animation: shakeHorizontal 0.5s ease-in-out;
}

@keyframes shakeHorizontal {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}

select.form-control {
  box-shadow: none;
}

.w-bold {
  font-weight: bold !important;
}
