:root {
  --z-max: 1000000100;
  --z-modal: 1051;
  --z-modal-max: 1059;
  --z-cm: 999999;
  --z-menu: 1001;
  --z-ctx-menu: 99999999;

  --c-default: #000;
  --c-active: #fff;
  --c-btn: #fff;
  --c-heavy: #333;
  --c-editor: #eee;
  --c-forbidden: #808000;
  --c-disabled: #aaa;
  --c-link: #337ab7;
  --c-link-hover: #23527c;
  --c-border: #ccc;
  --c-error: red;
  --c-risk: #f66;
  --c-danger: #ff3a90;
  --c-gray: #808080;
  --c-thin: #555;
  --c-ok: #5bbd72;
  --c-has: #000093;
  --c-warn: #5c3b00;
  --c-warn-active: yellow;
  --c-cobalt: #fff;

  --c-post: #4f91cf;
  --c-del: #ce5442;
  --c-head: #55b499;
  --c-options: #f0ad4e;
  --c-trace: #5bc0de;
  --c-patch: #8f58af;
  --c-put: #e49b3b;
  --c-tag: #46b8da;
  --c-tagx: #eea236;
  --c-rule-filter: #845dc4;
  --c-rule-props: #ff9e59;
  --c-req: #0d8f0d;
  --c-res: #e75b0f;

  --c-tree-success: #3c763d;
  --c-tree-info: #31708f;
  --c-tree-warning: #8a6d3b;
  --c-tree-danger: #a94442;
  --c-tree-forbidden: #aa6708;
  --c-tree-mark: #3b88fd;

  --c-j0: #002b36;
  --c-j1: #073642;
  --c-j2: #586e75;
  --c-j3: #657b83;
  --c-j4: #839496;
  --c-j5: #93a1a1;
  --c-j6: #eee8d5;
  --c-j7: #fdf6e3;
  --c-j8: #dc322f;
  --c-j9: #cb4b16;
  --c-ja: #b58900;
  --c-jb: #859900;
  --c-jc: #2aa198;
  --c-jd: #268bd2;
  --c-je: #6c71c4;
  --c-jf: #d33682;

  /* 文字颜色 */
  --c-success: #3c763d;
  --c-primary: #2e6da4;
  --c-primary-hover: #23527c;
  --c-primary-active: #1d4566;
  --c-danger-hover: #ac2925;
  --c-danger-active: #761c19;
  --c-warning: #eea236;
  --c-warning-hover: #d58512;
  --c-warning-active: #985f0d;
  --c-info: #46b8da;
  --c-info-hover: #269abc;
  --c-info-active: #1b6d85;

  /* 背景颜色 */
  --b-success: #dff0d8;
  --b-success-hover: #d0e9c6;
  --b-warning: #f0ad4e;
  --b-warning-hover: #ec971f;
  --b-warning-active: #d58512;
  --b-info: #5bc0de;
  --b-info-hover: #31b0d5;
  --b-info-active: #269abc;
  --b-primary: #337ab7;
  --b-primary-hover: #286090;
  --b-primary-active: #204d74;
  --b-danger: #d9534f;
  --b-danger-hover: #c9302c;
  --b-danger-active: #ac2925;

  --b-alert-info: #d9edf7;
  --b-default: #fff;
  --b-error: #f2dede;
  --b-error-hover: #dab9b9;
  --b-active: #ddd;
  --b-gray: #ccc;
  --b-btn-hover: #e6e6e6;
  --b-btn-active: #d6e2fb;
  --b-hover: #f5f5f5;
  --b-heavy: #eee;
  --b-heavy-active: #e0e0e0;
  --b-disabled: #f5f5f5;
  --b-bar: #fafafa;
  --b-mark: #3b88fd;
  --b-title: #f1f3f4;
  --b-img: #0e0e0e;
  --b-frames: #ff8000;
  --b-prop: #e1e3e6;
  --b-ok: #5bbd72;
  --b-editor: #002240;
  --b-filtered: #ffffe0;
  --b-warn: #fffbe6;
  --b-req: #e2f7da;
  --b-req-hover: #cee7c0;
  --b-blink: #ffeb3b;
  --b-tree-active: #8fbc8f;

  --b-tl-dns: #8cd2c6;
  --b-tl-req: #fdfdb2;
  --b-tl-res: #fbb361;
  --b-tl-load: #7eabe1;

  --b-list-hover: #e8e8e8;
  --b-list-warn: #f8efcf;
  --b-list-info: #c5e2f2;
  --b-list-danger-hover: #e8c9c9;
  --b-list-mark: #2978f0;
  --b-modal: rgba(0, 0, 0, 0.5);

  --s-rgba5: rgba(0, 0, 0, 0.05);
  --s-rgba8: rgba(0, 0, 0, 0.08);
  --s-rgba12: rgba(0, 0, 0, 0.12);
  --s-rgba15: rgba(0, 0, 0, 0.15);
  --s-rgba20: rgba(0, 0, 0, 0.2);
  --s-fc: rgba(102, 175, 233, .6);

  --b-rgba50: rgba(0, 0, 0, 0.5);
  --b-rgba70: rgba(0, 0, 0, 0.7);
  --b-rgba15: rgba(0, 0, 0, 0.15);
  --b-rgba30: rgba(0, 0, 0, 0.3);
}

html,
body,
.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--b-default);
  color: var(--c-heavy);
}

#container {
  min-width: 1078px; /* 兼容竖屏 */
  min-height: 560px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--b-rgba50);
  border-radius: 8px;
  min-height: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-clip: padding-box;
  background-color: var(--b-rgba70);
  border-radius: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-clip: padding-box;
  background-color: var(--s-rgba15);
}

body::-webkit-scrollbar {
  height: 0;
}

.cm-error-rule {
  text-decoration: line-through !important;
  color: #af2018 !important;
  font-style: italic;
}
pre {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: inherit;
  display: block;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.n-monospace {
  font-family: monospace;
}
body .CodeMirror pre {
  font-family: consolas, monospace;
}
input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  vertical-align: text-bottom;
}
.glyphicon-ban-circle {
  color: var(--c-risk);
}

.w-filter-input {
  width: 100%;
  background: var(--b-img);
  height: 30px;
  color: var(--c-cobalt);
  padding: 2px 5px;
  border: none;
  border-top: 1px solid var(--c-border);
  border-bottom: 1px solid var(--c-border);
}
.w-shadow {
  border: 1px solid var(--c-border) !important;
  -webkit-box-shadow: 0 6px 12px var(--s-rgba20) !important;
  box-shadow: 0 6px 12px var(--s-rgba20) !important;
  border-radius: 1px !important;
}
textarea[readonly] {
  outline: none;
}
textarea {
  resize: none;
  display: block;
  font-size: 12px;
}
.hide {
  display: none !important;
}

.visible {
  visibility: visible!important;
}
.w-hidden {
  visibility: hidden!important;
}

.box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.v-box {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.fill {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.box > .fill {
  width: 0;
}
.v-box > .fill {
  height: 0;
} /**不加这个滚动会有问题**/
.table {
  table-layout: fixed;
  margin: 0 !important;
}
.table .w-empty {
  text-align: center;
  font-style: italic;
  color: var(--c-disabled);
  border-bottom: none !important;
  padding: 20px 0 !important;
}
.w-empty-data {
  position: absolute;
  width: 100px;
  text-align: center;
  color: var(--c-disabled);
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -50px;
}
.w-expand-collapse {
  margin-left: 5px;
  height: 20px;
  line-height: 14px;
  font-size: 12px;
  color: var(--c-default);
}

.modal-dialog .modal-body,
.modal-dialog .modal-footer {
  padding: 10px;
}
.modal-footer .btn {
  padding: 5px 10px;
}

.cm-s-ambiance ::-webkit-scrollbar-thumb,
.cm-s-blackboard ::-webkit-scrollbar-thumb,
.cm-s-cobalt ::-webkit-scrollbar-thumb,
.cm-s-erlang-dark ::-webkit-scrollbar-thumb,
.cm-s-lesser-dark ::-webkit-scrollbar-thumb,
.cm-s-midnight ::-webkit-scrollbar-thumb,
.cm-s-monokai ::-webkit-scrollbar-thumb,
.cm-s-night ::-webkit-scrollbar-thumb,
.cm-s-dark ::-webkit-scrollbar-thumb,
.cm-s-twilight ::-webkit-scrollbar-thumb,
.cm-s-vibrant-ink ::-webkit-scrollbar-thumb,
.cm-s-xq-dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.cm-s-ambiance ::-webkit-scrollbar-thumb:hover,
.cm-s-blackboard ::-webkit-scrollbar-thumb:hover,
.cm-s-cobalt ::-webkit-scrollbar-thumb:hover,
.cm-s-erlang-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-lesser-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-midnight ::-webkit-scrollbar-thumb:hover,
.cm-s-monokai ::-webkit-scrollbar-thumb:hover,
.cm-s-night ::-webkit-scrollbar-thumb:hover,
.cm-s-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-twilight ::-webkit-scrollbar-thumb:hover,
.cm-s-vibrant-ink ::-webkit-scrollbar-thumb:hover,
.cm-s-xq-dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.cm-s-ambiance ::-webkit-scrollbar-track:hover,
.cm-s-blackboard ::-webkit-scrollbar-track:hover,
.cm-s-cobalt ::-webkit-scrollbar-track:hover,
.cm-s-erlang-dark ::-webkit-scrollbar-track:hover,
.cm-s-lesser-dark ::-webkit-scrollbar-track:hover,
.cm-s-midnight ::-webkit-scrollbar-track:hover,
.cm-s-monokai ::-webkit-scrollbar-track:hover,
.cm-s-night ::-webkit-scrollbar-track:hover,
.cm-s-dark ::-webkit-scrollbar-track:hover,
.cm-s-twilight ::-webkit-scrollbar-track:hover,
.cm-s-vibrant-ink ::-webkit-scrollbar-track:hover,
.cm-s-xq-dark ::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.w-hide {
  display: none!important;
}

.w-offline-status .w-menu a,
.w-offline-status .w-left-menu a {
  color: var(--c-disabled) !important;
}

body .cm-s-cobalt span.cm-number {
  color: #ff1605;
}
.w-hide-no-value .w-no-value {
  display: none !important;
}

.w-detail .w-dock-btn {
  border: none;
  background: transparent;
  padding: 4px 0;
  width: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  outline: none;
}
.w-detail .w-dock-btn .glyphicon {
  margin: 0 !important;
}
.w-detail .w-dock-btn:hover {
  background: var(--b-hover);
}

.btn.active,
.btn:active {
  box-shadow: none !important;
}

.CodeMirror-hints {
  z-index: var(--z-cm) !important;
}

.w-mark th,
.w-mark td {
  background-color: var(--b-mark) !important;
  color: var(--c-active) !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  outline: none;
}

.w-not-allowed {
  cursor: not-allowed;
}

.w-bold {
  font-weight: bold !important;
}

a {
  cursor: pointer;
}

.w-delete {
  color: var(--c-risk)!important;
}

.w-delete:hover {
  color: var(--c-error)!important;
}

.w-editor-dialog .modal-dialog {
  width: 960px;
}

.w-editor-dialog .modal-body {
  background: var(--b-bar);
}

.w-editor-dialog textarea {
  width: 940px;
  height: 520px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--c-border);
}

.w-big-editor-dialog .modal-dialog {
  width: 1000px;
}

.w-big-editor-dialog textarea {
  width: 980px;
  height: 550px;
}

.w-win-dialog {
  z-index: calc(var(--z-modal-max) + 1);
}

.w-win-dialog .modal-dialog {
  width: 480px;
}

.w-win-dialog pre {
  font-size: 15px;
  padding: 12px 10px;
  line-height: 2;
  margin: 0;
  word-break: break-word;
}

.w-win-dialog .modal-body {
  margin: 0;
}

.w-gray {
  color: var(--c-gray);
  margin-left: 5px;
}

.w-tabs > li > a {
  padding: 5px 10px;
}

.w-tabs > li > a > span {
  margin-right: 5px;
}

.modal.in {
  overflow-x: hidden;
  overflow-y: auto;
}

.glyphicon-cloud {
  vertical-align: text-bottom;
  padding-bottom: 1px;
  margin-right: 3px;
}

.glyphicon-gift {
  margin-right: 3px;
}

.glyphicon-folder-open {
  margin-right: 6px;
}

.w-fake-iframe {
  display: inline-block;
  vertical-align: top;
}

.w-fix-drag {
  position: relative;
}

.w-fix-drag::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.w-fix-drag:hover::after {
  display: none;
}

.modal-header h4 {
  font-size: 15px;
  font-weight: 500;
  display: inline;
}

.w-align-items {
  display: flex!important;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.w-align-items input {
  margin-right: 5px;
}

.w-fmt-btn .glyphicon {
  margin-right: 5px;
}

.w-cell-img {
  max-height: 17px;
  max-width: 20px;
  margin: -3px 6px 0 0;
}

.inline-align-items {
  display: inline-flex;
  align-items: center;
}

.w-shake-horizontal {
    animation: shakeHorizontal 0.5s ease-in-out;
}

@keyframes shakeHorizontal {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}

select.form-control {
  box-shadow: none;
}

.w-bold {
  font-weight: bold !important;
}

.w-help-icon {
  color: var(--c-heavy);
  font-size: 14px;
  margin-right: 5px;
}
.w-help-icon:hover {
  color: var(--c-link);
  text-decoration: none;
}
