html,
body,
.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#container {
  min-width: 1100px;
  min-height: 560px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  min-height: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.15);
}

body::-webkit-scrollbar {
  height: 0;
}

.cm-error-rule {
  text-decoration: line-through !important;
  color: #af2018 !important;
  font-style: italic;
}
pre {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: inherit;
  display: block;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.n-monospace {
  font-family: monospace;
}
body .CodeMirror pre {
  font-family: consolas, monospace;
}
input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  vertical-align: text-bottom;
}
.glyphicon-ban-circle {
  color: #f66;
}

.w-filter-input {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 30px;
  color: #fff;
  padding: 2px 5px;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.shadow {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
}
textarea[readonly] {
  outline: none;
}
textarea {
  resize: none;
  display: block;
  font-size: 12px;
}
.hide {
  display: none !important;
}
.box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.orient-vertical-box {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.fill {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.box > .fill {
  width: 0;
}
.orient-vertical-box > .fill {
  height: 0;
} /**不加这个滚动会有问题**/
.table {
  table-layout: fixed;
  margin: 0 !important;
}
.table .w-empty {
  text-align: center;
  font-style: italic;
  color: #ccc;
}
.w-expand-collapse {
  margin-left: 5px;
  height: 20px;
  line-height: 14px;
  font-size: 12px;
  color: #000;
}
.w-arrow,
.w-arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.w-arrow {
  border-width: 7px;
}
.w-arrow::after {
  content: '';
  border-width: 6px;
}

.w-arrow-left {
  top: 50%;
  left: -7px;
  margin-top: -7px;
  border-right-color: #ccc;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.w-arrow-left::after {
  bottom: -6px;
  left: 1px;
  border-right-color: #f1f3f4;
  border-left-width: 0;
}

.w-arrow-right {
  top: 50%;
  right: -7px;
  margin-top: -7px;
  border-left-color: #ccc;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}
.w-arrow-right::after {
  bottom: -6px;
  right: 1px;
  border-left-color: lightyellow;
  border-right-width: 0;
}

.modal-dialog .modal-body,
.modal-dialog .modal-footer {
  padding: 10px;
}
.modal-footer .btn {
  padding: 5px 10px;
}

.cm-s-ambiance ::-webkit-scrollbar-thumb,
.cm-s-blackboard ::-webkit-scrollbar-thumb,
.cm-s-cobalt ::-webkit-scrollbar-thumb,
.cm-s-erlang-dark ::-webkit-scrollbar-thumb,
.cm-s-lesser-dark ::-webkit-scrollbar-thumb,
.cm-s-midnight ::-webkit-scrollbar-thumb,
.cm-s-monokai ::-webkit-scrollbar-thumb,
.cm-s-night ::-webkit-scrollbar-thumb,
.cm-s-dark ::-webkit-scrollbar-thumb,
.cm-s-twilight ::-webkit-scrollbar-thumb,
.cm-s-vibrant-ink ::-webkit-scrollbar-thumb,
.cm-s-xq-dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.cm-s-ambiance ::-webkit-scrollbar-thumb:hover,
.cm-s-blackboard ::-webkit-scrollbar-thumb:hover,
.cm-s-cobalt ::-webkit-scrollbar-thumb:hover,
.cm-s-erlang-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-lesser-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-midnight ::-webkit-scrollbar-thumb:hover,
.cm-s-monokai ::-webkit-scrollbar-thumb:hover,
.cm-s-night ::-webkit-scrollbar-thumb:hover,
.cm-s-dark ::-webkit-scrollbar-thumb:hover,
.cm-s-twilight ::-webkit-scrollbar-thumb:hover,
.cm-s-vibrant-ink ::-webkit-scrollbar-thumb:hover,
.cm-s-xq-dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.cm-s-ambiance ::-webkit-scrollbar-track:hover,
.cm-s-blackboard ::-webkit-scrollbar-track:hover,
.cm-s-cobalt ::-webkit-scrollbar-track:hover,
.cm-s-erlang-dark ::-webkit-scrollbar-track:hover,
.cm-s-lesser-dark ::-webkit-scrollbar-track:hover,
.cm-s-midnight ::-webkit-scrollbar-track:hover,
.cm-s-monokai ::-webkit-scrollbar-track:hover,
.cm-s-night ::-webkit-scrollbar-track:hover,
.cm-s-dark ::-webkit-scrollbar-track:hover,
.cm-s-twilight ::-webkit-scrollbar-track:hover,
.cm-s-vibrant-ink ::-webkit-scrollbar-track:hover,
.cm-s-xq-dark ::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.w-hide {
  display: none!important;
}

.w-offline-status .w-menu a,
.w-offline-status .w-left-menu a {
  color: #ccc !important;
}

body .cm-s-cobalt span.cm-number {
  color: #ff1605;
}
.w-hide-no-value .w-no-value {
  display: none !important;
}

.w-detail .w-dock-btn {
  border: none;
  background: transparent;
  padding: 4px 0;
  width: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  outline: none;
}
.w-detail .w-dock-btn .glyphicon {
  margin: 0 !important;
}

.btn.active,
.btn:active {
  box-shadow: none !important;
}

.CodeMirror-hints {
  z-index: 999999 !important;
}

.w-mark th,
.w-mark td {
  background-color: #3b88fd !important;
  color: #fff !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  outline: none;
}

.w-not-allowed {
  cursor: not-allowed;
}

.w-bold {
  font-weight: bold !important;
}

a {
  cursor: pointer;
}

.w-delete {
  color: #f66;
}

.w-delete:hover {
  color: red;
}

.w-editor-dialog .modal-dialog {
  width: 720px;
}

.w-editor-dialog textarea {
  width: 700px;
  height: 320px;
  padding: 5px;
}

.w-win-dialog .modal-dialog {
  width: 480px;
}

.w-win-dialog pre {
  font-size: 15px;
  padding: 12px 10px;
  line-height: 2;
  margin: 0;
  word-break: break-word;
}

.w-win-dialog .modal-body {
  margin: 0;
}
