.w-certs-info-dialog .modal-dialog {
  width: 1024px;
}

.w-certs-info-order {
  width: 50px;
}
.w-certs-info-validity {
  width: 330px;
}
.w-certs-info-status {
  width: 100px;
}
.w-cert-invalid th, .w-cert-invalid td {
  color: red;
}

.w-certs-info-filename a {
  font-size: 12px;
  cursor: pointer;
}

.w-certs-info-dialog td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-certs-info-filename {
  width: 220px;
}

.w-certs-info-dialog th, .w-certs-info-dialog td {
  vertical-align: middle!important;
}
