.w-detail-composer {overflow-x: hidden; overflow-y: auto;}
.w-detail-composer textarea {display: block; width: 100%; resize: none; border: none; padding: 5px;}
.w-composer-url {padding: 2px 2px 2px 0; border-bottom: 1px solid #ccc;}
.w-composer-input, .w-composer-method, .w-composer-execute {height: 26px;}
.w-composer-input {padding: 0 5px; display: block; border: 1px solid #ccc; margin-left: 2px;}
.w-composer-method {display: block; width: 100px; margin: 0 2px; padding: 0;}
.w-composer-execute {padding: 0 8px; line-height: 24px; margin-left: 4px;}
.w-composer-tabs {
  position: relative;
}
.w-composer-tabs .btn {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 13px;
  line-height: 14px;
}
.w-composer-tabs button {
  line-height: 16px;
  padding: 0 10px!important;
}
.w-composer-tabs .w-tab-btn {
  outline: none;
  border: none;
  background: transparent;
}
.w-composer-tabs .w-tab-btn:hover {
  color: #337ab7;
}
.w-composer-tabs .w-tab-btn.w-active {
  background: #ddd;
}
.w-composer-tabs .w-tab-btn:disabled {
  color: #aaa!important;
  cursor: not-allowed;
}
.w-detail-composer .w-properties pre {
  max-height: 90px;
}

.w-composer-res-forbidden th, .w-composer-res-forbidden pre {
  color: #808000!important;
}

.w-composer-res-error th, .w-composer-res-error pre {
  color: #ff3a90!important;
}
.w-composer-bar {
  border-bottom: 1px solid #ddd;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  background-color: #fafafa;
  position: relative;
}

.w-composer-bar .btn {
  line-height: 15px;
  height: 15px;
  padding: 0 5px;
  font-weight: normal;
  font-size: 12px;
  border-radius: 3px;
  position: absolute;
  top: 1px;
  right: 10px;
  overflow: hidden;
}
.w-composer-body .w-composer-bar .btn {
  position: static;
  margin-right: 10px;
}
.w-composer-body .w-composer-bar {
  text-align: right;
  height: 19px;
}
.w-composer-bar, .w-composer-bar label {
  font-size: 12px;
  font-weight: normal;
}
.w-composer-bar label {
  margin-left: 10px;
  cursor: pointer;
  vertical-align: middle;
}
.w-composer-bar input, .w-composer-rules .w-detail-inspectors-title input {
  margin: 0 5px 0 0;
  padding: 0;
}
.w-composer-bar label:first-child {
  font-weight: bold;
}
.w-composer-bar label:hover {
  color: #337ab7;
}
.w-composer-bar .w-composer-label {
  font-weight: bold;
  display: inline-block;
  padding: 0 0 0 15px;
  border-left: 1px solid #ddd;
  cursor: default;
  color: #000!important;
}
.w-composer-body .w-composer-encoding {
  position: absolute;
  top: 1px;
  left: 60px;
}
.w-composer-body>.w-composer-bar>.w-composer-label {
  padding: 0 15px 0 10px!important;
  position: absolute;
  left: 0;
  top: 1px;
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #ddd;
}
.w-composer-rules .w-detail-inspectors-title {
  padding-left: 10px!important;
}
.w-composer-rules .w-detail-inspectors-title label {
  margin: 0;
}

.w-custom-type {
  cursor: not-allowed!important;
  color: #333!important;
}

.w-composer-headers textarea:read-only, .w-composer-body textarea:read-only,
.w-detail-composer input:read-only, .w-detail-composer textarea:disabled {
  background: #fefefe!important;
  color: #999!important;
}

.w-composer-tips {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 210px;
}

.w-composer-history td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.w-composer-history th {
  padding: 8px!important;
}
.w-composer-history-order {
  width: 40px;
}
.w-composer-history-date {
  width: 200px;
}
.w-composer-history-method {
  width: 110px;
}
.w-composer-history-operation {
  width: 136px;
}
.w-composer-history-url strong {
  margin-right: 5px;
}

.w-composer-history-body {
  width: 260px;
}

.w-composer-history-operation .btn {
  padding: 2px 10px!important;
  margin-right: 20px;
}
.w-composer-history-dialog .modal-dialog {
  width: 1060px;
}

.w-composer-bar .w-composer-hex-text {
  position: absolute;
  left: 75px;
  top: 0px;
}

.w-composer-bar .w-composer-crlf {
  top: 0;
  left: 150px;
  position: absolute;
}

.w-composer-bar .w-composer-hex-text.w-checked,
.w-composer-bar .w-composer-gzip.w-checked,
.w-composer-bar .w-composer-crlf.w-checked {
  font-weight: bold;
}

.w-composer-back-btn {
  position: absolute;
  padding: 2px 0;
  width: 40px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 23px;
  border: 0;
  border-radius: 0;
  background-color: lightyellow;
}

.w-composer-use-h2 {
  position: absolute;
  top: 0;
  right: 90px;
}

.w-composer-use-h2 input {
  margin-right: 5px;
}

.w-composer-methods .modal-dialog { width: 500px; }

.w-composer-methods textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
}
