.w-detail-com {
  overflow-x: hidden;
  overflow-y: auto;
}
.w-detail-com textarea {
  display: block;
  width: 100%;
  resize: none;
  border: none;
  padding: 5px;
}
.w-com-url {
  padding: 2px 2px 2px 0;
  border-bottom: 1px solid var(--c-border);
  position: relative;
}

.w-com-url .w-filter-hint {
  width: calc(100% - 218px);
  z-index: 2;
  top: 30px;
  bottom: unset;
  left: 113px;
  overflow-x: hidden;
  overflow-y: auto;
}
.w-filter-hint > ul {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: var(--h-hints, 360px);
}

.w-filter-hint > ul li {
  cursor: default;
}

.w-com-url .w-filter-hint a {
  text-decoration: none;
  left: 2px;
}

.w-com-input,
.w-com-method,
.w-com-execute {
  height: 26px;
}
.w-com-input {
  padding: 0 5px;
  display: block;
  border: 1px solid var(--c-border);
  border-left: none;
  border-right: none;
}
.w-com-history-btn {
  height: 26px;
  width: 24px;
  text-align: center;
  margin: 0 1px 0 2px!important;
  line-height: 26px;
  cursor: pointer;
  font-size: 15px;
  color: var(--c-thin);
}
.w-com-history-btn:hover {
  color: var(--c-link);
  background: var(--b-hover);
}
.w-com-method {
  display: block;
  width: 85px;
  margin: 0 0 0 2px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.w-com-execute, .w-com-params {
  padding: 0 8px;
  line-height: 24px;
  margin-left: 4px;
}

.w-com-params {
  border-radius: 0;
  margin-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--b-bar);
  font-size: 12px;
  font-weight: bold;
}

.w-com-params-editor {
  position: absolute;
  width: 500px;
  max-width: calc(100% - 40px);
  height: 240px;
  z-index: 10;
  top: 30px;
  right: 40px;
}

.w-com-params-editor .w-filter-bar {
  border-bottom: 1px solid var(--c-border);
}

.w-com-params-editor .w-filter-bar a {
  left: unset;
  right: 5px;
  top: 1px;
}

.w-com-params-editor .w-filter-bar .w-params-clear-btn {
  right: 60px;
  white-space: nowrap;
  top: -1px;
}

.w-com-params-editor .w-filter-bar .w-com-params-clear {
  right: 60px;
}

.w-com-rules-label {
  padding-right: 12px;
  border-right: 1px solid var(--c-border);
}

.w-com-proxy-rules {
  padding-left: 15px;
  font-weight: 400;
}

.w-com-params-editor .w-filter-bar {
  text-align: left;
}

.w-com-tabs {
  position: relative;
  padding: 0 !important;
}
.w-com-tabs .btn {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 13px;
  line-height: 14px;
}

.w-com-tabs button {
  line-height: 16px;
  padding: 0 10px !important;
}
.w-com-tabs button:hover {
  background: var(--b-btn-hover);
}
.w-com-tabs .w-tab-btn {
  outline: none;
  border: none;
  background: transparent;
  height: 100%;
}
.w-com-tabs .w-tab-btn:hover {
  color: var(--c-link);
}
.w-com-tabs .w-tab-btn.w-active {
  background: var(--b-active);
}
.w-com-tabs .w-tab-btn:disabled {
  color: var(--c-disabled) !important;
  cursor: not-allowed;
}

.w-com-res {
  position: relative;
}

.w-com-res-forbidden th,
.w-com-res-forbidden pre {
  color: var(--c-forbidden)!important;
}

.w-com-res-error th,
.w-com-res-error pre {
  color: var(--c-error) !important;
}
.w-com-bar {
  border-bottom: 1px solid var(--c-border);
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  background-color: var(--b-bar);
  position: relative;
}

.w-com-bar .btn {
  line-height: 13px;
  height: 15px;
  padding: 0 5px;
  font-weight: normal;
  font-size: 11px;
  border-radius: 2px;
  outline: none;
  margin-right: 5px;
  margin-bottom: 1px;
  overflow: hidden;
}
.w-com-body .w-record-status {
  font-size: 13px;
}
.w-com-body .w-com-bar {
  text-align: right;
  height: 19px;
}
.w-com-bar,
.w-com-bar label {
  font-size: 12px;
  font-weight: normal;
}
.w-com-bar label {
  margin-left: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
}
.w-com-bar input,
.w-com-rules .w-detail-inspectors-title input {
  margin: 0 5px 0 0;
  padding: 0;
}

.w-com-res {
  position: relative;
}
textarea.w-com-rules {
  margin-bottom: 2px;
}
.w-com-bar label:first-child {
  font-weight: bold;
}
.w-com-bar label:hover {
  color: var(--c-default);
}
.w-com-bar .w-com-label {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  padding: 0 0 0 15px;
  border-left: 1px solid var(--c-border);
  cursor: default;
  color: var(--c-default) !important;
}
.w-com-body .w-com-encoding {
  position: absolute;
  top: 1px;
  left: 60px;
}
.w-com-body > .w-com-bar > .w-com-label {
  padding: 0 10px !important;
  position: absolute;
  left: 0;
  top: 1px;
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid var(--c-border);
}
.w-com-rules .w-detail-inspectors-title {
  padding-left: 10px !important;
}
.w-com-rules .w-detail-inspectors-title label {
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.w-com-rules .w-detail-inspectors-title label:hover {
  color: var(--c-default);
}

.w-com-headers .w-com-bar {
  display: flex;
  align-items: center;
}

.w-com-headers textarea[readonly],
.w-com-body textarea[readonly],
.w-detail-com input[readonly],
.w-com-rules textarea:disabled,
.w-com-rules textarea[readonly],
.w-mock-key-name[readonly] {
  background: var(--b-disabled) !important;
  color: var(--c-disabled) !important;
  cursor: default;
}

.w-com-cookies-dialog table th {
  padding: 5px 0 5px 8px;
}
.w-com-cookie-order {
  width: 50px;
}
.w-com-cookie-value {
  white-space: break-spaces;
  word-break: break-all;
}
.w-com-cookie-operation {
  width: 160px;
}
.w-com-history-operation .btn, .w-com-cookie-operation a {
  padding: 2px 10px !important;
  margin-right: 10px;
  display: inline-block;
}
.w-com-history-dialog .modal-dialog {
  width: 1060px;
}

.w-com-cookies-dialog .modal-dialog {
  width: 720px;
}

.w-com-bar .w-com-hex-text {
  position: absolute;
  left: 75px;
  top: 0px;
}

.w-com-bar .w-com-crlf {
  top: 0;
  left: 150px;
  position: absolute;
}

.w-com-bar .w-com-hex-text.w-checked,
.w-com-bar .w-com-gzip.w-checked,
.w-com-bar .w-com-crlf.w-checked {
  font-weight: bold;
}

.w-com-back-btn {
  position: absolute;
  padding: 2px 0;
  width: 40px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 23px;
  border: 0;
  border-radius: 0;
  background-color: var(--b-filtered);
}

.w-com-use-h2 {
  right: 5px;
}

.w-com-history {
  right: 2px;
  position: absolute;
}

.w-com-pretty,
.w-com-use-h2, .w-com-enable-body {
  margin-left: 13px!important;
  font-weight: normal;
}

.w-com-tabs input {
  margin-right: 5px;
}

.w-com-methods .modal-dialog {
  width: 500px;
}

.w-com-methods textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
}

.w-com-tab-list {
  border-bottom: 1px solid var(--c-border);
  height: 23px;
  background-color: var(--b-title);
  min-width: 560px;
}

.w-com-tab-list button {
  border: none;
  border-right: 1px solid var(--c-border);
  height: 22px;
  line-height: 18px;
  font-size: 12px;
  padding: 0 12px;
  border-radius: 0;
  font-weight: bold;
}

.w-com-list {
  position: relative;
}
.w-mask-iframe {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.w-com-list .w-custom-tabs {
  height: 22px;
}

.w-hide-history {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
}

.w-history-title {
  background: var(--b-title);
  padding: 3px 5px;
  overflow: hidden;
  position: sticky;
  top: 0;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--c-default);
}

.w-history-item, .w-history-title {
  border-bottom: 1px solid var(--c-border);
}

.w-history-item {
  padding: 6px 5px 8px 10px;
  overflow: hidden;
  cursor: default;
  background-color: var(--b-bar);
}

.w-history-item div {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-height: 86px;
  word-wrap: break-word;
  word-break: break-all;
}

.w-history-item p {
  margin: 0;
  padding: 2px 0 0;
    white-space: nowrap;
}

.w-history-item i {
  display: inline-block;
  font-style: normal;
  padding: 0 5px;
  line-height: 16px;
  margin-right: 5px;
  font-size: 9px;
  border-radius: 3px;
  font-weight: normal;
  line-height: 12px;
  font-weight: 500;
}

.w-history-item i.w-req-method-tag-GET {
  background: var(--c-ok);
  color: var(--c-active);
  border-color: var(--c-ok);
}

.w-history-item i.w-req-method-tag-POST {
  background: var(--c-post);
  color: var(--c-active);
  border-color: var(--c-post);
}

.w-history-item i.w-req-method-tag-DELETE {
  background: var(--c-del);
  color: var(--c-active);
  border-color: var(--c-del);
}

.w-history-item i.w-req-method-tag-HEAD {
  background: var(--c-head);
  color: var(--c-active);
  border-color: var(--c-head);
}

.w-history-item i.w-req-method-tag-OPTIONS {
  background: var(--c-options);
  color: var(--c-active);
  border-color: var(--c-options);
}

.w-history-item i.w-req-method-tag-TRACE {
  background: var(--c-trace);
  color: var(--c-active);
  border-color: var(--c-trace);
}

.w-history-item i.w-req-method-tag-PATCH {
  background: var(--c-patch);
  color: var(--c-active);
  border-color: var(--c-patch);
}

.w-history-item i.w-req-method-tag-PUT {
  background: var(--c-put);
  color: var(--c-active);
  border-color: var(--c-put);
}

.w-history-item i:last-child {
  margin-right: 0;
}

.w-history-item:hover {
  background: var(--b-hover);
  color: var(--c-default);
}
.w-history-item.w-selected {
  background: var(--b-active);
  color: var(--c-default);
}

.w-req-protocol-tag {
  border: 1px solid var(--c-tag);
}

.w-req-method-tag {
  border: 1px solid var(--c-ok);
}

.w-req-type-tag {
  border: 1px solid var(--c-tagx);
}

.w-com-history-data {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  opacity: 0;
  transition: ease 0.6s;
  visibility: hidden;
}

.w-com-history-data.w-show {
  opacity: 1;
  visibility: visible;
}

.w-com-history-data .close {
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
  z-index: 1;
  font-size: 20px;
}

.w-com-history-footer .close {
  top: 6px;
}

.w-com-history-list {
  border-right: 1px solid var(--c-border);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background: var(--b-bar);
  position: relative;
  font-size: 12px;
}

.w-com-history-ctn pre {
  display: block;
  padding: 0 5px;
  overflow: auto;
  white-space: pre;
  background-color: var(--b-disabled);
  position: relative;
}

.w-com-history-ctn pre .w-load-tips {
  position: absolute;
  z-index: 1;
  background: var(--b-rgba30);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: var(--c-active);
  font-size: 14px;
  display: none;
  align-items: center;
  justify-content: center;
}

.w-com-history-ctn pre.w-show-loading {
  overflow: hidden;
}

.w-com-history-ctn pre.w-show-loading .w-load-tips {
  display: flex;
}

.w-com-history-footer {
  line-height: 33px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid var(--c-border);
  padding: 0 0 2px;
  position: relative;
}

.w-com-history-footer .btn {
  height: 24px;
  line-height: 22px;
  padding: 0 6px;
  margin-left: 10px;
  font-size: 13px;
}

.w-com-btns {
  position: absolute;
  top: 0;
  right: 0;
}

.w-com-btns a {
  color: var(--c-default);
  font-weight: normal;
  margin-right: 10px;
  text-decoration: none;
}

.w-com-btns a:last-child {
  margin-right: 5px;
}

.w-com-btns a:hover {
  color: var(--c-link);
}

.w-com-disable-body .w-props-editor {
  opacity: .7;
}
