/* Context Menu Style by marvin1023 */
.w-ctx-menu {
  position: absolute;
  z-index: var(--z-ctx-menu);
}

.w-ctx-menu-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--c-border);
  box-shadow: 2px 2px 2px var(--s-rgba15);
  background: var(--b-default);
  min-width: 110px;
  border-radius: 4px;
}

.w-ctx-menu-list .w-ctx-item-tt input {
  margin-right: 5px;
  vertical-align: text-top;
}

.w-ctx-menu-list .w-ctx-item-tt .glyphicon {
  margin-right: 5px;
}

.w-ctx-menu-list .glyphicon-play {
  line-height: 28px;
  font-size: 10px;
  margin-left: 10px;
  transform: scale(.8);
}
.w-ctx-menu-list label {
  margin: 0 !important;
  font-weight: normal !important;
  display: block;
}
.w-ctx-menu-list .w-ctx-selected {
  font-weight: bold!important;
}

.w-ctx-menu-list .w-ctx-checked {
  display: inline-block;
  width: 20px;
  visibility: hidden;
}

body .w-ctx-menu-list .w-ctx-menu-list {
  margin-left: 3px;
  display: none;
  top: -1px;
  z-index: calc(var(--z-ctx-menu) + 2);
}
body .w-ctx-menu-list .w-ctx-menu-gap {
  position: absolute;
  margin-left: -2px;
  height: 35px;
  top: -1px;
  left: 100%;
  width: 6px;
  display: none;
  z-index: calc(var(--z-ctx-menu) + 1);
}
.w-ctx-menu-item:hover .w-ctx-menu-list,
.w-ctx-menu-item:hover .w-ctx-menu-gap {
  display: block;
}
.w-ctx-menu-item:hover .w-ctx-menu-list {
  width: auto;
}
.w-ctx-menu-item {
  display: flex;
  line-height: 30px;
  padding: 0 15px;
  justify-content: space-between;
  position: relative;
  cursor: default;
  white-space: nowrap;
}
.w-ctx-menu-item:hover {
  background: var(--b-title);
}

.w-ctx-item-sep {
  border-top: 1px solid var(--c-border);
  margin-top: 5px;
}

.w-ctx-item-disabled {
  color: var(--c-gray);
}
.w-ctx-item-disabled:hover {
  background: var(--b-default) !important;
}


.w-ctx-menu-item .w-ctx-menu-list {
  position: absolute;
  left: 100%;
  top: 0;
}

.w-ctx-sub-menu-left .w-ctx-sub-menu-list .w-ctx-menu-list {
  left: -132px;
  top: -61px;
}

.w-keep-history-data .w-ctx-sub-menu-list .w-ctx-menu-list {
  top: -61px;
}

.w-ctx-menu-left .w-ctx-menu-item .w-ctx-menu-list {
  right: 102%;
  left: unset;
}

.w-ctx-menu-left .w-ctx-menu-list .w-ctx-menu-gap {
  left: -3px;
}

.w-ctx-radio-list {
  min-width: 165px;
}
