/* Context Menu Style by marvin1023 */
.w-context-menu {
  position: absolute;
  z-index: 99999999;
}

.w-ctx-menu-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background: #fff;
  min-width: 110px;
  border-radius: 2px;
}

.w-ctx-menu-list .w-ctx-item-tt input {
  margin-right: 5px;
  vertical-align: text-top;
}

.w-ctx-menu-list .glyphicon-play {
  line-height: 28px;
  font-size: 10px;
  margin-left: 10px;
  transform: scale(.8);
}

.w-ctx-menu-list label {
  margin: 0 !important;
  font-weight: normal !important;
  display: block;
}
body .w-ctx-menu-list .w-ctx-menu-list {
  margin-left: 3px;
  display: none;
  top: -1px;
  z-index: 100000001;
}
body .w-ctx-menu-list .w-ctx-menu-gap {
  position: absolute;
  margin-left: -2px;
  height: 35px;
  top: -1px;
  left: 100%;
  width: 6px;
  display: none;
  z-index: 100000000;
}
.w-ctx-menu-item:hover .w-ctx-menu-list,
.w-ctx-menu-item:hover .w-ctx-menu-gap {
  display: block;
}
.w-ctx-menu-item:hover .w-ctx-menu-list {
  width: auto;
}
.w-ctx-menu-item {
  display: flex;
  line-height: 30px;
  padding: 0 15px;
  justify-content: space-between;
  position: relative;
  cursor: default;
  white-space: nowrap;
}
.w-ctx-menu-item:hover {
  background: #f1f3f4;
}
.w-ctx-menu-item.item-disabled .w-ctx-menu-item-tt {
  color: #999;
}
.w-ctx-item-sep {
  border-top: 1px solid #ccc;
  margin-top: 5px;
}

.w-ctx-item-disabled {
  color: #999;
}
.w-ctx-item-disabled:hover {
  background: #fff !important;
}

.w-ctx-menu-item .w-ctx-menu-item-tt {
  margin: 0;
}
.w-ctx-menu-item .w-ctx-menu-item-des {
  color: #999;
}

.w-ctx-menu-item .w-ctx-menu-list {
  position: absolute;
  left: 100%;
  top: 0;
}

.w-ctx-menu-left .w-ctx-menu-item .w-ctx-menu-list {
  right: 102%;
  left: unset;
}

.w-ctx-menu-left .w-ctx-menu-list .w-ctx-menu-gap {
  left: -3px;
}
