.w-detail {
  border-left: 1px solid #ccc;
  overflow-x: auto;
  overflow-y: hidden;
}
.w-detail-content {
  position: relative;
  overflow: auto;
}
.w-detail-divider {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}
.w-detail-content,
.w-detail > .w-tabs-sm {
  min-width: 560px;
  border-top: none;
}

.w-show-history .w-detail-content {
  min-width: auto;
}

.w-detail-dialog .modal-dialog,
.w-detail-dialog .modal-content {
  width: 900px;
}
.w-detail-dialog .modal-body {
  padding: 0 !important;
  position: relative;
}
.w-detail-dialog .close {
  position: absolute;
  right: 10px;
  top: 4px;
  z-index: 1;
}
.w-detail-dialog .w-detail {
  border-radius: 6px;
}

.w-inspectors-ctx-menu .w-ctx-menu-list {
  min-width: 100px;
}

.w-detail-inspectors {
  min-width: 560px;
}

.w-detail-bottom.w-detail {
  border-left: none;
}

.w-detail-custom-tab {
  max-width: 12.1%;
  max-width: calc(100% - 492px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-req {
  max-width: calc(100% - 450px);
}

.w-plugins-tabs-list {
  width: 106px;
  border-right: 1px solid #ddd;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f1f3f4;
}

.w-plugins-tabs-list .btn {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 12px;
  padding: 3px 5px;
  line-height: 18px;
  display: block;
  width: 100%;
}

.w-tab-frame {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

.w-custom-tab-panel .w-tab-frame {
  min-width: 560px;
}

div.w-detail-inspectors-tabs {
  padding: 0 !important;
}

.w-detail-inspectors-tabs button {
  border: none;
  border-right: 1px solid #ccc;
  height: 20px;
  line-height: 16px;
  font-size: 12px;
  padding: 0 12px;
  border-radius: 0;
  font-weight: bold;
}

.w-detail-inspectors-tabs .glyphicon-menu-hamburger {
  color: #ff8000;
}

.w-detail-inspectors-tabs button.w-spec-active {
  background-color: #ddd;
}

.w-detail-inspectors-title.w-detail-inspectors-res {
  padding-left: 12px !important;
}

.w-custom-tabs {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 20px;
}

.w-custom-tabs button {
  font-weight: normal !important;
}

.w-no-frames {
  position: absolute;
  width: 100px;
  height: 20px;
  line-height: 20px;
  left: 50%;
  top: 50%;
  font-size: 14px;
  margin: -10px 0 0 -50px;
  text-align: center;
  color: #999;
}
