.w-dropdown-text {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.w-dropdown .dropdown-menu .divider {
  margin: 0 !important;
}
.w-dropdown .dropdown-menu {
  width: auto !important;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: auto !important;
  display: none;
  max-height: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}
.w-dropdown {
  display: inline-block;
}

.w-dropdown .dropdown-menu li {
  padding: 0 10px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.w-dropdown .dropdown-menu li:hover {
  background: #f5f5f5;
}
.w-dropdown .dropdown-menu a {
  padding: 0 10px;
  line-height: 20px;
  display: block;
  text-align: center;
}
