.CodeMirror-hints li.CodeMirror-hint-active:after {
  content: 'F1';
  position: absolute;
  right: 0;
  font-size: 12px;

}

.CodeMirror-hints .CodeMirror-hint {
  max-width: unset;
  position: relative;
  padding-right: 20px;
  font-family: consolas, monospace;
  font-size: 14px;
}
