.w-files-dialog .modal-dialog {
  width: 900px;
}

.w-files-order {
  width: 36px;
}
.w-files-date {
  width: 205px;
}
.w-files-path {
  word-break: break-all;
  word-wrap: break-word;
}
.w-files-operation {
  width: 240px;
}

.w-files-operation a {
  margin-right: 15px;
  display: inline-block;
  white-space: nowrap;
}

.w-files-operation a:last-child {
  color: #f66;
}

.w-files-operation a:last-child:hover {
  color: #f00;
}

.w-files-dialog thead th {
  padding: 8px;
}
