.w-files-dialog .modal-dialog {
  width: 900px;
}

.w-files-dialog h4  {
  margin-top: 10px;
}

.w-files-upload-btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  background: #fff;
  line-height: 60px;
  text-align: center;
  margin: 20px 0;
  color: #aaa;
  font-size: 16px;
  width: 880px;
  font-weight: normal;
}
.w-files-upload-btn:hover {
  color: #888;
}

.w-files-upload-btn span {
  font-size: 24px;
  vertical-align: sub;
  margin-right: 10px;
}

.w-files-order {
  width: 36px;
}
.w-files-date {
  width: 205px;
}
.w-files-path {
  word-break: break-all;
  word-wrap: break-word;
}
.w-files-operation {
  width: 240px;
}

.w-files-operation a {
  margin-right: 15px;
  display: inline-block;
  white-space: nowrap;
}

.w-files-operation a:last-child {
  color: #f66;
}

.w-files-operation a:last-child:hover {
  color: #f00;
}

.w-files-name {
  display: block;
  margin: 20px 0;
  white-space: nowrap;
}

.w-files-info-dialog .modal-dialog {
  width: 720px;
}

.w-files-name input {
  display: inline-block;
  width: 620px;
  margin-left: 20px;
  font-weight: normal;
}
.w-files-save-in {
  padding-bottom: 10px;
}
.w-files-save-in label {
  margin-right: 20px;
  font-weight: normal;
}
 label:first-child {
  font-weight: bold;
}
.w-files-save-in input {
  margin-right: 5px;
}
.w-files-save-in label:last-child {
  margin-left: 20px;
}

.w-files-info-dialog .modal-header {
  font-weight: bold;
}

.w-files-dialog thead th {
  padding: 8px;
}
