.w-filter-con {
  position: relative;
}
.w-filter-con .w-clear-input {
  position: absolute;
  right: 5px;
  bottom: 10px;
  line-height: 16px;
  display: none;
}


.w-filter-hint, .w-layer {
  background-color: var(--b-default);
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px -4px var(--s-rgba12),
    0 6px 16px 0 var(--s-rgba8), 0 9px 28px 8px var(--s-rgba5);
  box-shadow: 0 3px 6px -4px var(--s-rgba12),
    0 6px 16px 0 var(--s-rgba8), 0 9px 28px 8px var(--s-rgba5);
}

.w-filter-hint {
  margin: 0 3px;
  bottom: 35px;
  width: 99%;
  padding-bottom: 3px;
  color: var(--c-thin);
  line-height: 1.5;
  position: absolute;
  overflow: hidden;
  font-size: 14px;
}

.w-filter-show-types .w-filter-hint {
  bottom: 60px;
}

.w-filter-hint ul,
.w-filter-hint li {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-filter-hint li {
  line-height: 24px;
  font-size: 12px;
  border-radius: 3px;
  padding: 0 5px;
}

.w-filter-bar {
  text-align: right;
  height: 20px;
  position: relative;
}

.w-filter-bar .close {
  text-align: center;
  top: 0;
  right: 5px;
  position: absolute;
}

.w-filter-bar .w-close-params {
  right: unset;
  top: -4px;
  left: 5px;
}

.w-filter-bar .w-clear-hints {
  top: -3px;
}

.w-filter-bar a {
  left: 3px;
  position: absolute;
  font-size: 12px;
}
.w-filter-bar a span {
  width: 18px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.w-filter-hint li:hover,
.w-filter-hint .w-active {
  background-color: var(--b-hover) !important;
}

.w-filter-type-bar {
  display: flex;
  height: 26px;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  background: var(--b-bar);
}

.w-filter-type-bar span {
  margin-left: 10px;
  border: 1px solid var(--c-border);
  border-radius: 3px;
  padding: 0 6px;
  height: 18px;
  font-size: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--b-default);
  min-width: 32px;
}

.w-filter-type-bar span:hover {
  border-color: var(--b-btn-hover);
  background: var(--b-btn-hover);
}

.w-filter-type-bar span:active, .w-filter-type-bar span.w-active {
  border-color: var(--b-btn-active);
  background: var(--b-btn-active);
  color: var(--c-default);
}
