.w-filter-con {
  position: relative;
}
.w-filter-con .close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  line-height: 16px;
  display: none;
}

.w-filter-hint {
  margin: 0 3px;
  bottom: 35px;
  width: 99%;
  padding-bottom: 3px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  position: absolute;
  overflow: hidden;
  font-size: 14px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.w-filter-hint ul,
.w-filter-hint li {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-filter-hint li {
  line-height: 24px;
  font-size: 12px;
  border-radius: 3px;
  padding: 0 5px;
}

.w-filter-bar {
  text-align: right;
  height: 20px;
  position: relative;
}

.w-filter-bar span {
  line-height: 20px;
  width: 28px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.w-filter-bar a {
  left: -5px;
  transform: scale(0.9);
  position: absolute;
  font-size: 12px;
}
.w-filter-bar a span {
  font-size: 12px;
  width: 22px;
}

.w-filter-hint li:hover,
.w-filter-hint .w-active {
  background-color: #f5f5f5 !important;
}
