.w-filter-con {
  position: relative;
}
.w-filter-con .close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  line-height: 16px;
  display: none;
  opacity: 0.8;
}

.w-filter-con .close:hover {
  opacity: 1;
}

.w-filter-hint, .w-layer {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.w-filter-hint {
  margin: 0 3px;
  bottom: 35px;
  width: 99%;
  padding-bottom: 3px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  position: absolute;
  overflow: hidden;
  font-size: 14px;
}

.w-filter-show-types .w-filter-hint {
  bottom: 60px;
}

.w-filter-hint ul,
.w-filter-hint li {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-filter-hint li {
  line-height: 24px;
  font-size: 12px;
  border-radius: 3px;
  padding: 0 5px;
}

.w-filter-bar {
  text-align: right;
  height: 20px;
  position: relative;
}

.w-filter-bar span {
  line-height: 18px;
  width: 28px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.w-filter-bar a {
  left: -5px;
  transform: scale(0.9);
  position: absolute;
  font-size: 12px;
}
.w-filter-bar a span {
  font-size: 12px;
  width: 22px;
}

.w-filter-hint li:hover,
.w-filter-hint .w-active {
  background-color: #f5f5f5 !important;
}

.w-filter-type-bar {
  display: flex;
  height: 26px;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  background: #fafafa;
}

.w-filter-type-bar span {
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 6px;
  height: 18px;
  font-size: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-width: 32px;
}

.w-filter-type-bar span:hover {
  border-color: #e8e8e8;
  background: #e8e8e8;
}

.w-filter-type-bar span:active, .w-filter-type-bar span.w-active {
  border-color: #d6e2fb;
  background: #d6e2fb;
  color: #000;
}
