.w-frames {
  font-size: 12px;
  min-width: 560px;
}
.w-frames-action {
  background: #f1f3f4;
  position: relative;
  border-bottom: 1px solid #ccc;
  height: 22px;
  line-height: 20px;
  min-width: 560px;
}
.w-frames-action label {
  font-weight: normal;
  margin-left: 10px;
  color: #000;
}
.w-frames-action label input {
  vertical-align: top;
}

.w-frames-action a {
  margin-left: 15px;
  text-decoration: none!important;
  color: #000;
  vertical-align: super;
}
.w-frames-action .w-menu-item {
  top: 23px;
}
.w-frames-action .w-menu-wrapper {
  display: inline-block;
}
.w-frames-action .w-connect-abort {
  right: 157px;
}
.w-frames-action a:last-child {
  right: 10px;
}
.w-frames-action a:hover,
.w-frames-action label:hover {
  color: #337ab7;
}

.w-frames-list {
  overflow-x: hidden;
  overflow-y: auto;
}

.w-frames-list ul {
  list-style: none;
  margin: 0;
  padding: 0 0 5px;
}

.w-frames-list ul .glyphicon {
  margin-right: 10px;
}

.w-frames-list li {
  cursor: default;
  margin: 0;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  line-height: 23px;
  list-style: none;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.w-frames-action .w-refresh-menu-list .w-menu-item {
  left: 10px;
}
.w-frames-action label:first-child {
  background: #e2f7da;
  display: inline-block;
  padding: 0 5px;
  margin-left: 5px;
}

.w-frames-action .w-dropdown {
  margin-left: 15px;
}

.w-frames-action .w-filter-con {
  margin-right: 160px;
  border-right: 1px solid #ccc;
}

.w-frames-list .w-frames-send {
  background: #e2f7da;
}
.w-frames-list .w-connection-error {
  background: #f2dede;
  color: red;
}
.w-frames-list .w-connection-closed {
  background: #ccc;
  color: red;
}
.w-connection-closed span {
  color: red;
}
.w-frames-list .w-frames-selected {
  background: #337ab7!important;
  color: #fff!important;
}

.w-frames-list .glyphicon-send {
  color: #0d8f0d;
}

.w-frames-list .glyphicon-flash {
  color: #e75b0f;;
}

.w-frames-list .w-frames-selected .glyphicon {
  color: #fff;
}

.w-frames-composer-action {
  border-bottom: 1px solid #ccc;
  position: relative;
  text-indent: 10px;
  line-height: 22px;
  height: 23px;
  background: #f1f3f4;
}
.w-frames-composer-action .glyphicon-arrow-left {
  color: #e75b0f;
}
.w-frames-composer-action .glyphicon-arrow-right {
  color: #0d8f0d;
}

.w-frames-composer-action .btn-group, .w-frames-composer-action .w-format-json-btn {
  margin: 1px 15px 1px 0;
  float: right;
  font-size: 12px!important;
}
.w-frames-composer-action .btn {
  padding: 0 5px!important;
  height: 20px;
  line-height: 19px;
}
.w-frames-composer-action .dropdown-menu {
  min-width: 0;
  padding: 2px 5px;
  right: 0;
  font-size: 12px;
}
.w-frames-composer-action .dropdown-menu a {
  padding: 0;
}

.w-detail-inspectors .glyphicon-arrow-right,
.w-frames-list .glyphicon-arrow-right {
  color: #0d8f0d;
}

.w-detail-inspectors .glyphicon-arrow-left,
.w-frames-list .glyphicon-arrow-left {
  color: #e75b0f;
}
.w-frames-data textarea {
  border: none;
}

.w-frames-list .w-frames-ignore, .w-frames-list .w-frames-ignore .glyphicon {
  color: #888!important;
  font-style: italic!important;
}

.w-frames-list .w-frames-ignore.w-frames-selected,
.w-frames-list .w-frames-ignore.w-frames-selected .glyphicon {
  color: #fff!important;
}
.w-frames-composer-action .w-frames-hex-data {
  margin-left: -10px;
  font-weight: normal;
}

.w-frames-crlf {
  font-weight: normal;
  margin-left: 1px;
}
.w-frames-composer-action .w-frames-checked {
  font-weight: bold;
}
.w-frames-composer-action input[type=checkbox] {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.w-frames-composer textarea {
  padding: 5px;
}

.w-frames-bin {
  font-weight: bold;
}
