.w-frames {
  font-size: 12px;
  min-width: 560px;
}
.w-frames-action {
  background: var(--b-title);
  position: relative;
  border-bottom: 1px solid var(--c-border);
  height: 22px;
  line-height: 20px;
  min-width: 560px;
}
.w-frames-action > .w-menu-wrapper:first-child > a:first-child {
  margin-left: 10px;
}

.w-frames-action a {
  margin-left: 15px;
  text-decoration: none !important;
  color: var(--c-default);
  vertical-align: super;
}
.w-frames-action .w-menu-item {
  top: 23px;
}
.w-frames-action .w-menu-wrapper {
  display: inline-block;
}
.w-frames-action .w-connect-abort {
  right: 157px;
}
.w-frames-action a:last-child {
  right: 10px;
}
.w-frames-action a:hover {
  color: var(--c-link);
}

.w-frames-list {
  overflow-x: hidden;
  overflow-y: auto;
}

.w-frames-list ul {
  list-style: none;
  margin: 0;
  padding: 0 0 5px;
}

.w-frames-list ul .glyphicon {
  margin-right: 10px;
}

.w-frames-list li {
  cursor: default;
  margin: 0;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  line-height: 23px;
  list-style: none;
  border-bottom: 1px solid var(--c-border);
  background: var(--b-default);
}
.w-frames-list li[class=""]:hover {
  background: var(--b-hover);
}

.w-frames-list .w-frames-send:hover {
  background: var(--b-req-hover);
}

.w-frames-list .w-conn-error:hover {
  background: var(--b-error-hover);
}

.w-frames-list .w-conn-closed:hover {
  background: var(--b-gray);
}


.w-frames-action .w-switch-btn .w-menu-item {
  left: 10px;
}

.w-frames-action .w-dropdown {
  margin-left: 15px;
}

.w-not-decompressed {
  font-style: italic;
}

.w-not-decompressed em {
  color: var(--c-error);
  margin-right: 5px;
}

.w-frames-action .w-filter-con {
  margin-right: 160px;
  border-right: 1px solid var(--c-border);
}

.w-frames-list .w-frames-send {
  background: var(--b-req);
}
.w-frames-list .w-conn-error {
  background: var(--b-error);
  color: var(--c-error);
}
.w-frames-list .w-conn-closed {
  background: var(--b-active);
  color: var(--c-error);
}
.w-conn-closed span {
  color: var(--c-error);
}
.w-frames-list .w-frames-selected {
  background: var(--c-link) !important;
  color: var(--c-active) !important;
}

.w-frames-list .w-frames-selected .glyphicon {
  color: var(--c-active);
}

.w-frames-com-action {
  border-bottom: 1px solid var(--c-border);
  position: relative;
  text-indent: 10px;
  line-height: 22px;
  height: 23px;
  background: var(--b-title);
}

.w-frames-com-action .btn-group,
.w-frames-com-action .w-format-json-btn {
  margin: 1px 15px 1px 0;
  float: right;
  font-size: 12px !important;
}
.w-frames-com-action .btn {
  padding: 0 5px !important;
  height: 20px;
  line-height: 19px;
}
.w-frames-com-action .dropdown-menu {
  min-width: 0;
  right: 0;
  font-size: 12px;
}
.w-frames-com-action .dropdown-menu a {
  padding: 0;
}

.w-detail-inspectors .glyphicon-arrow-right,
.w-frames-list .glyphicon-arrow-right,
.w-com-tabs .glyphicon-arrow-right,
.w-frames-com-action .glyphicon-arrow-right {
  color: var(--c-req);
}

.w-detail-inspectors .glyphicon-arrow-left,
.w-frames-list .glyphicon-arrow-left,
.w-com-tabs .glyphicon-arrow-left,
.w-frames-com-action .glyphicon-arrow-left {
  color: var(--c-res);
}
.w-frames-data textarea {
  border: none;
}

.w-frames-list .w-frames-ignore,
.w-frames-list .w-frames-ignore .glyphicon {
  color: var(--c-disabled) !important;
  font-style: italic !important;
}

.w-frames-list .w-frames-ignore.w-frames-selected,
.w-frames-list .w-frames-ignore.w-frames-selected .glyphicon {
  color: var(--c-active) !important;
}
.w-frames-com-action .w-frames-hex-data {
  margin-left: -10px;
  font-weight: normal;
}

.w-frames-crlf {
  font-weight: normal;
  margin-left: 1px;
}
.w-frames-com-action .w-frames-checked {
  font-weight: bold;
}
.w-frames-com-action input[type='checkbox'] {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.w-frames-com textarea {
  padding: 5px;
}

.w-frames-bin {
  font-weight: 500;
}
