.w-image-view {
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
  text-align: center;
  position: relative;
}
.w-image-bg {
  background: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-image-view.w-image-webview {
  padding: 0;
  display: flex;
}
.w-image-view img {
  max-width: 100%;
}
.w-image-view .w-image-link {
  display: inline-block;
  width: 300px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -150px;
  font-size: 14px;
}

.w-image-view:hover .w-textarea-bar {
  display: block;
}

.w-image-webview .fill {
  width: 100%;
}
