.w-image-view {
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
}
.w-image-view img {
  max-width: 100%;
}
.w-image-view a {
  display: inline-block;
  width: 300px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -150px;
  font-size: 14px;
}
