.w-menu {
  height: 34px;
  border-bottom: 1px solid var(--c-border);
  background: var(--b-title);
  padding-right: 80px;
  position: relative;
  z-index: var(--z-menu);
  white-space: nowrap;
}
.w-menu a {
  text-decoration: none !important;
  color: var(--c-heavy);
  padding: 0 8px;
  line-height: 26px;
  height: 26px;
  display: inline-block;
  height: 31px;
  line-height: 31px;
  overflow: hidden;
}
.w-menu .glyphicon,
.w-detail .glyphicon {
  margin-right: 3px;
}
.w-menu .glyphicon-folder-open,
.w-menu .glyphicon-folder-close {
  margin-right: 6px;
}
.w-menu .w-online {
  position: absolute;
  top: 0;
  right: 0;
}
.w-menu .w-online,
.w-menu a:hover,
.w-left-menu a:hover,
.w-left-menu a:hover .w-disabled {
  color: var(--c-link);
}
.w-left-menu a:hover, .w-menu a:hover {
  background: var(--b-btn-hover);
}
.w-menu .w-offline {
  color: var(--c-disabled) !important;
  cursor: default;
}
.w-menu .w-disabled,
.w-frames-action .w-disabled {
  color: var(--c-disabled) !important;
  cursor: not-allowed !important;
}
.w-left-menu .w-disabled {
  color: var(--c-disabled);
}
.w-menu .w-menu-enable .glyphicon-cog {
  color: var(--c-risk) !important;
}
.w-menu .w-new-version-icon {
  position: absolute;
  top: 2px;
  left: 17px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: var(--c-error);
}
.w-menu .w-menu-wrapper {
  display: inline-block;
  position: relative;
  height: 30px;
}

.w-show-update-tips {
  font-weight: bold;
}

.w-input-menu-item {
  display: block;
  position: absolute;
  background: var(--b-default);
  border: 1px solid var(--c-border);
  border-radius: 2px;
  z-index: 101;
  top: 33px;
  display: none;
  white-space: nowrap;
}
.w-input-menu-item input {
  width: 246px;
  height: 32px;
  border: 1px solid var(--c-border);
  border-radius: 0!important;
  border-radius: 2px;
  padding: 0 5px;
  vertical-align: middle;
}
.w-input-menu-item .btn {
  height: 32px;
  padding: 0 12px;
  vertical-align: middle;
  border-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: 1px;
  border-color: var(--c-border);
}

.w-create-rules-input {
  left: 310px;
}
.w-create-values-input {
  left: 300px;
}
.w-edit-rules-input {
  left: 382px;
}
.w-edit-values-input {
  left: 372px;
}

.w-show-left-menu .w-create-rules-input {
  left: 210px;
}
.w-show-left-menu .w-create-values-input {
  left: 200px;
}
.w-show-left-menu .w-edit-rules-input {
  left: 282px;
}
.w-show-left-menu .w-edit-values-input {
  left: 272px;
}

.w-menu-wrapper .w-menu-item {
  display: none !important;
}
.w-menu-wrapper-show .w-menu-item {
  display: block !important;
}

.w-values-list .glyphicon-ok {
  display: none !important;
}
.w-values-list a {
  font-weight: normal !important;
}
.w-disabled .glyphicon-ok,
.w-disabled .glyphicon-stop {
  color: var(--c-disabled) !important;
}

.w-rules-settings-dialog .modal-dialog {
  width: 400px;
}
.w-values-settings-dialog .modal-dialog {
  width: 300px;
}
.w-show-update-tips-dialog .modal-dialog {
  width: 336px;
}
.w-show-update-tips-dialog .modal-body p {
  margin-bottom: 5px;
}
.w-https-dialog .modal-dialog {
  width: 342px;
}
.w-https-help {
  margin-left: 150px;
}
.w-https-dialog .modal-dialog div {
  white-space: nowrap;
}
.w-https-dialog a {
  display: inline-block;
}
.w-download-rootca,
.w-https-help {
  line-height: 30px;
}
.w-https-settings label {
  font-weight: normal;
}

.w-https-settings p {
  margin: 10px 0;
}

.w-is-link {
  cursor: pointer;
  text-decoration: underline;
}

.w-choose-filte-type .modal-dialog {
  width: 435px;
}
.w-choose-filte-type-label {
  white-space: nowrap;
}
.w-choose-filte-type-label .form-control {
  margin-left: 10px;
  width: 260px;
  display: inline-block;
  font-weight: normal;
}
.w-choose-filte-type-label select.form-control {
  margin: 0 5px;
  width: 80px;
}

.w-confirm-import-dialog .modal-dialog {
  width: 320px;
  font-weight: bold;
}

.w-switch-layout {
  padding: 0 15px !important;
  margin-right: 0 !important;
}
.w-left-menu {
  background: var(--b-title);
  border-left: 1px solid var(--c-border);
  border-right: 1px solid var(--c-border);
  display: none;
}
.w-show-left-menu .w-left-menu {
  display: block;
  border-left: none;
}
.w-show-left-menu .w-nav-menu {
  display: none;
}
.w-left-menu a {
  display: block;
  position: relative;
  padding: 10px 0 8px;
  width: 47px;
  overflow: hidden;
  text-align: center;
  text-decoration: none !important;
  color: var(--c-default);
}
.w-left-menu a span {
  margin-right: 5px;
}
.w-left-menu a .w-left-menu-name {
  display: block;
  font-style: normal;
  font-size: 12px;
  zoom: 1;
  transform: scale(0.8, 0.8);
  width: 65px;
  margin-left: -10px;
  white-space: nowrap;
}
.w-left-menu-tips {
  padding: 6px 10px;
  display: none;
  left: 47px;
  top: 3px;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
}
.w-left-menu a:hover .w-left-menu-tips {
  display: block;
  color: var(--c-default);
  background-color: var(--b-title);
  font-weight: bold;
  border: 1px solid var(--c-border);
}
.w-left-menu a .w-left-menu-tips:hover {
  display: none;
}
.w-menu .w-import-menu,
.w-menu .w-export-menu,
.w-menu .w-remove-menu-list {
  display: none;
}
.w-show-left-menu .w-import-menu,
.w-show-left-menu .w-export-menu,
.w-show-left-menu .w-remove-menu-list {
  display: inline-block;
}

.w-menu-changed {
  position: absolute;
  top: 2px;
  left: 5px;
  color: var(--c-error);
}
.w-replay-count-dialog .modal-content {
  width: 236px!important;
  white-space: nowrap;
}
.w-replay-count-dialog .modal-dialog {
  width: 236px!important;
}
.w-replay-count-dialog .modal-content label {
  width: auto;
}
.w-replay-count-dialog input {
  display: inline-block;
  width: 80px;
  text-align: center;
  margin: 0 10px;
}
.w-import-remote-dialog .modal-content {
  width: 525px;
}
.w-import-remote-dialog input {
  width: 500px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  border: 1px solid var(--c-border);
}

.w-enable-https-btn, .w-https-menu .glyphicon-lock {
  color: var(--c-forbidden);
}

.w-enable-https-btn {
  cursor: pointer;
}

.w-hover-left-menu {
  position: absolute;
  z-index: 1;
  height: auto;
  border-bottom: 1px solid var(--c-border);
  min-height: 0;
}

.w-menu .w-tree-view-active {
  color: var(--c-link);
}

.w-menu-selected {
  background-color: var(--b-active)!important;
  color: var(--c-default)!important;
}

.w-https-dialog select {
  border: 1px solid var(--c-border);
  border-radius: 3px;
  height: 24px;
  font-size: 12px;
  padding-left: 5px;
}

.w-root-ca-type {
  width: 92px;
  float: right;
  margin: 3px 15px 0 0;
}

.w-root-ca-url-wrap {
  display: flex;
  align-items: center;
  margin: -3px 0 10px;
}

.w-root-ca-url-wrap .glyphicon {
  margin-top: -2px;
}

.w-root-ca-url {
  display: block;
  width: 292px;
}


.w-fieldset pre {
  max-height: 220px;
  overflow: auto;
  padding: 10px;
}
.w-fieldset {
  border: 1px solid var(--c-border);
}
.w-fieldset legend {
  font-size: 12px;
  padding: 0 5px;
  border: none;
  width: auto;
  margin: 0 10px;
  font-weight: bold;
}

.w-fieldset legend .glyphicon {
  margin-left: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1105px) {
  .w-menu.w-top a {
    padding: 0 7px;
  }
}

.w-show-left-menu .w-help-name, .w-show-left-menu .w-https-name {
  display: inline!important;
}

.w-va-mdl {
  vertical-align: middle;
}

.w-mrl-5 {
  margin-left: 5px;
}

.w-json-bar {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 18px;
}

.w-json-bar .w-disabled {
  color: var(--c-disabled)!important;
  background: transparent!important;
}

.w-json-bar .glyphicon-menu-right {
  margin-left: 15px;
}

.w-json-bar .glyphicon {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.w-json-bar .glyphicon:hover {
  border-radius: 30px;
  background: var(--b-title);
}

.w-import-remote-dialog .glyphicon-cloud {
  vertical-align: middle;
  padding-bottom: 1px;
  margin-right: 5px;
}

.w-qrcode-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c-thin);
  cursor: default;
}

.w-qrcode-wrap img {
  width: 100%;
  height: 100%;
}


.w-hover-body tr:hover th, .w-hover-body tr:hover td {
  background: var(--b-hover);
}

.w-req-table .w-hover-body tr:hover th, .w-req-table .w-hover-body tr:hover td {
  background: var(--b-list-hover) !important;
}

.w-hover-body tr.warning:hover th, .w-hover-body tr.warning:hover td {
  background: var(--b-list-warn) !important;
}
.w-hover-body tr.info:hover th, .w-hover-body tr.info:hover td {
  background: var(--b-list-info) !important;
}
.w-hover-body tr.success:hover th, .w-hover-body tr.success:hover td {
  background: var(--b-success-hover) !important;
}
.w-hover-body tr.danger:hover th, .w-hover-body tr.danger:hover td {
  background: var(--b-list-danger-hover) !important;
}
.w-hover-body tr.w-mark:hover th, .w-hover-body tr.w-mark:hover td {
  background: var(--b-list-mark) !important;
}

.w-confim-reload-note {
  color: var(--c-error);
  margin: 0;
}
