.w-props-wrap:hover .w-textarea-bar {
  display: inline-block;
}
.w-json-viewer-str,
.w-json-viewer-tree {
  padding: 5px;
  overflow: auto;
}
.w-json-viewer-tree > ul {
  background: none !important;
  font-size: 12px;
  margin: 0 !important;
}
