.w-kv-dialog .modal-dialog {
  width: 666px;
}
.w-kv-name {
  width: 400px;
}
.w-kv-operation a:nth-child(2)  {
  color: #f66;
  margin: 0 20px;
}
.w-kv-conflict th, .w-kv-operation strong {
  color: #f66;
}
