.w-list-wrapper label {
  line-height: 26px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
}
.w-list-wrapper label input {
  margin-right: 5px;
}
.w-list-dialog {
  width: 900px;
}
.w-list-dialog .w-list-wrapper {
  max-height: 420px;
  overflow-x: hidden;
  overflow-y: auto;
}
.w-list-dialog .w-list-tips {
  max-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}
.w-list-tips > span {
  display: inline-block;
  background: var(--b-heavy);
  padding: 3px 6px;
  border-radius: 3px;
  margin: 0 0 10px 10px;
}
.w-list-tips-title {
  color: var(--c-error);
}
.w-list-dialog .modal-footer {
  position: relative;
}
.w-list-counter {
  position: absolute;
  left: 10px;
  top: 15px;
}

.w-rule-list-name.w-list-data {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 420px;
}

.w-rule-list-ctn {
  max-height: 420px;
  overflow: auto;
  color: var(--c-default);
}

.w-rule-list-ctn .w-rule-list-item {
  font-weight: normal;
  height: 32px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 0;
  border-bottom: 1px solid var(--c-border);
}

.w-rule-list-ctn .w-rule-list-item span {
  display: inline-block;

}

.w-rule-list-ctn .w-rule-list-item > span {
  width: 32px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--b-title);
  flex-shrink: 0;
}

.w-rule-list-ctn .w-rule-list-item > div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  flex: 1;
  flex-shrink: 0;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  background-color: var(--b-default);
}

.w-rule-list-ctn .w-rule-list-item > div::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.w-rule-list-ctn .w-rule-list-item > div span {
  margin-right: 10px;
  color: var(--c-rule-filter);
}

.w-rule-list-ctn .w-rule-list-item > div span:nth-child(1) {
  color: var(--c-default);
}

.w-rule-list-ctn .w-rule-list-item > div span:nth-child(2) {
  color: var(--c-rule-props);
}

.w-rule-list-ctn .w-rule-list-item > div span:last-child {
  margin-right: 0;
}

