.w-divider-con .w-divider {border: none;}
.w-list-data {border-top: 1px solid #ccc; background: #fafafa; overflow-x: hidden; overflow-y: auto;}
.w-list-data a {display: block; padding-left: 10px; line-height: 32px; position: relative; border-bottom: 1px solid #ccc; color: #000; 
text-decoration: none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background: #fff;}
.w-list-data a .glyphicon-ok {position: absolute; top: 50%; right: 10px; margin-top: -8px; color: #5bbd72; display: none;}
.w-list-content {border: 1px solid #ccc; border-left: none;} 
.w-list-data .w-changed:before {content: '*'; margin-right: 5px; color: red; margin-right: 5px;}
.w-list-data a:hover {color: #337ab7;}
.w-list-data .w-active {background: #337AB7; color: #fff!important;}
.w-list-data .w-selected {font-weight: bold;}
.w-list-data .w-selected .glyphicon-ok {display: inline-block;}
.w-list-data span.w-whistle-tpl {
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 3px;
  top: 2px;
  background: center center no-repeat;
  background-size: 100%;
}