.w-list-dialog label {
  line-height: 26px;
  width: 226px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
}
.w-list-dialog label input {
  margin-right: 5px;
}
.w-list-dialog {
  width: 750px;
}
.w-list-dialog .w-list-wrapper {
  max-height: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}
.w-list-dialog .w-list-tips {
  max-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}
.w-list-tips > span {
  display: inline-block;
  background: #eee;
  padding: 3px 6px;
  border-radius: 3px;
  margin: 0 0 10px 10px;
}
.w-list-tips-title {
  color: red;
}
.w-list-dialog .modal-footer {
  position: relative;
}
.w-list-counter {
  position: absolute;
  left: 10px;
  top: 15px;
}
