.w-divider-con .w-divider {
  border: none;
}
.w-list-data {
  background: var(--bg-bar);
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
}
.w-list-data a {
  display: block;
  padding-left: 10px;
  line-height: 32px;
  position: relative;
  border-bottom: 1px solid var(--c-border);
  color: var(--c-default);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--bg-default);
  outline: none;
  cursor: default;
}
.w-list-data a .glyphicon-ok {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  color: #5bbd72;
  display: none;
}

.w-list-content {
  border-bottom: 1px solid var(--c-border);
  border-right: 1px solid var(--c-border);
  cursor: text;
}

.w-list-data .w-changed:before {
  content: '*';
  color: red;
  margin-right: 2px;
}
.w-list-data .w-list-group.w-changed:before {
  margin-right: 0;
}
.w-list-data a:hover {
  color: var(--c-hover);
}

.w-list-data a:hover:not(.w-list-group) {
  background: var(--bg-hover);
}
.w-list-data .w-active {
  background: var(--c-hover) !important;
  color: var(--c-active) !important;
}
.w-list-data .w-selected {
  font-weight: 500;
}
.w-list-data .w-selected .glyphicon-ok {
  display: inline-block;
}
.w-list-data span.w-whistle-tpl {
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 3px;
  top: 2px;
  background: center center no-repeat;
  background-size: 100%;
}

.w-list-data .w-list-group {
  background: #eee;
  color: #333;
  cursor: default;
  padding-left: 5px;
}

.w-list-data .w-list-group.w-list-group-active {
  background: #e0e0e0;
}

.w-list-data .w-list-group:hover, .w-list-data .w-list-group:active {
  color: var(--c-default);
}

.w-list-group .glyphicon, .w-list-group-icon.glyphicon-triangle-right {
  font-size: 10px;
  opacity: .5;
  transform: scale(0.8);
  margin-right: 2px;
}

.w-list-group-icon.glyphicon-triangle-right {
  margin-right: -2px;
}

.w-list-sub {
  padding-left: 20px!important;
}

.w-list-group .w-group-child-num {
  position: absolute;
  right: 6px;
  font-size: 10px;
  font-weight: 500;
  color: #666;
}

.w-list-group .w-exists-selected {
  color: #5bbd72;
}

.w-list-group.w-group-empty {
  background-color: var(--bg-hover);
  color: #888;
}

.w-has-selected-rules .CodeMirror {
  border-top: 3px solid #75bb79;
}

.w-has-selected-rules.w-has-selected-disabled .CodeMirror {
  border-top-color: var(--c-border);
}


.nav-tabs > .w-nav-normal-tab:first-child {
  font-weight: bold;
}

.w-enabled-rules-btn {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f3f4;
  border-bottom: 1px solid var(--c-border);
  cursor: pointer;
  font-weight: bold;
}

.w-enabled-rules-btn .glyphicon-ok[data-name="enabledRules"] {
  color: #5bbd72;
  margin-right: 5px;
  margin-top: -2px;
}

.w-enabled-rules-btn.w-disabled {
  cursor: not-allowed;
  color: #999;
}

.w-enabled-rules-dialog .modal-dialog {
  width: 80%;
  min-width: 860px;
}

.w-enabled-rules-dialog .w-properties pre {
  font-size: 13px;
  line-height: 1.5;
}
