.w-list-dialog label { line-height: 26px; width: 226px; overflow: hidden;
    text-overflow: ellipsis; white-space: nowrap; margin-left: 10px; }
.w-list-dialog label input { margin-right: 5px; }
.w-list-dialog {width: 500px;}
