.w-divider-con .w-divider {
  border: none;
}
.w-list-data {
  background: #fafafa;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
}
.w-list-data a {
  display: block;
  padding-left: 10px;
  line-height: 32px;
  position: relative;
  border-bottom: 1px solid #ddd;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  outline: none;
}
.w-list-data a .glyphicon-ok {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  color: #5bbd72;
  display: none;
}
.w-list-content {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.w-list-data .w-changed:before {
  content: '*';
  color: red;
  margin-right: 2px;
}
.w-list-data .w-list-group.w-changed:before {
  margin-right: 0;
}
.w-list-data a:hover {
  color: #337ab7;
}
.w-list-data .w-active {
  background: #337ab7;
  color: #fff !important;
}
.w-list-data .w-selected {
  font-weight: 500;
}
.w-list-data .w-selected .glyphicon-ok {
  display: inline-block;
}
.w-list-data span.w-whistle-tpl {
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 3px;
  top: 2px;
  background: center center no-repeat;
  background-size: 100%;
}

.w-list-data .w-list-group {
  background: #eee;
  color: #333;
  cursor: default;
  padding-left: 5px;
}

.w-list-data .w-list-group:hover, .w-list-data .w-list-group:active {
  color: #000;
}

.w-list-group .glyphicon, .w-list-group-icon.glyphicon-triangle-right {
  font-size: 10px;
  opacity: .5;
  transform: scale(0.8);
  margin-right: 2px;
}

.w-list-group-icon.glyphicon-triangle-right {
  margin-right: -2px;
}

.w-list-sub {
  padding-left: 20px!important;
}

.w-list-group .w-group-child-num {
  position: absolute;
  right: 6px;
  font-size: 10px;
  font-weight: 500;
  color: #666;
}

.w-list-group .w-exists-selected {
  color: #5bbd72;
}

.w-list-group.w-group-empty {
  background-color: #F5F5F5;
  color: #888;
}
