.w-divider-con .w-divider {
  border: none;
}
.w-list-data {
  background: var(--b-bar);
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
}

.w-top-rules-item .glyphicon-star {
  margin-right: 5px;
  color: var(--c-star);
}
.w-list-left a {
  display: block;
  padding-left: 10px;
  line-height: 32px;
  position: relative;
  border-bottom: 1px solid var(--c-border);
  color: var(--c-default);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--b-default);
  outline: none;
  cursor: default;
}
.w-list-left a .glyphicon-ok {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  color: var(--c-ok);
  display: none;
}

.w-list-content {
  border-bottom: 1px solid var(--c-border);
  border-right: 1px solid var(--c-border);
  cursor: text;
}

.w-list-left .w-changed:before {
  content: '*';
  color: var(--c-error);
  margin-right: 2px;
}
.w-list-left .w-list-group.w-changed:before {
  margin-right: 0;
}
.w-list-left a:hover {
  color: var(--c-link);
}

.w-list-left a:hover:not(.w-list-group) {
  background: var(--b-hover);
}
.w-list-left .w-active {
  background: var(--c-link) !important;
  color: var(--c-active) !important;
}
.w-list-left .w-selected {
  font-weight: 500;
}
.w-list-left .w-selected .glyphicon-ok {
  display: inline-block;
}
.w-list-left span.w-whistle-tpl {
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 3px;
  top: 2px;
  background: center center no-repeat;
  background-size: 100%;
}

.w-list-left .w-list-group {
  background: var(--b-heavy);
  color: var(--c-heavy);
  cursor: default;
  padding-left: 5px;
}

.w-list-left .w-list-group.w-list-group-active {
  background: var(--b-heavy-active);
}

.w-list-left .w-list-group:is(:hover, :active) {
  color: var(--c-default);
}

.w-list-group .glyphicon, .w-list-group-icon.glyphicon-triangle-right {
  font-size: 10px;
  opacity: .5;
  transform: scale(0.8);
  margin-right: 2px;
}

.w-list-group-icon.glyphicon-triangle-right {
  margin-right: -2px;
}

.w-list-sub {
  padding-left: 20px!important;
}

.w-list-group .w-group-child-num {
  position: absolute;
  right: 6px;
  font-size: 10px;
  font-weight: 500;
  color: var(--c-thin);;
}

.w-list-group .w-exists-selected {
  color: var(--c-ok);
}

.w-list-group.w-group-empty {
  background-color: var(--b-hover);
  color: var(--c-gray);
}

.w-has-selected-rules .CodeMirror {
  border-top: 3px solid var(--b-ok);
}

.w-has-selected-rules.w-has-selected-disabled .CodeMirror {
  border-top-color: var(--c-border);
}


.nav-tabs > .w-nav-normal-tab:first-child {
  font-weight: bold;
}

.w-enabled-rules-btn {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--b-title);
  border-bottom: 1px solid var(--c-border);
  cursor: pointer;
  font-weight: bold;
}

.w-enabled-rules-btn .glyphicon-ok[data-name="enabledRules"] {
  color: var(--c-ok);
  margin-right: 5px;
  margin-top: -2px;
}

.w-enabled-rules-btn.w-disabled {
  cursor: not-allowed;
  color: var(--c-gray);
}

.w-enabled-rules-dialog .modal-dialog {
  width: 80%;
  min-width: 860px;
}

.w-enabled-rules-dialog .w-props pre {
  font-size: 13px;
  line-height: 1.5;
}

.w-tr-actions {
  text-align: right;
}

.w-tr-actions .btn {
  padding: 2px 8px;
}

.w-top-rules .w-order-table .table td {
  word-wrap: break-word;
}

.w-top-rules .w-order-table .w-tr-unchecked {
  color: var(--c-disabled);
}

.w-top-rules .w-order-table-body {
  max-height: calc(100vh - 70px);
}

.w-top-rules .w-tr-checked td:nth-child(4) {
  color: var(--c-rule-op);
}
.w-top-rules .w-tr-checked td:nth-child(5) {
  color: var(--c-rule-props);
}
.w-top-rules .w-tr-checked td:nth-child(6) {
  color: var(--c-rule-filter);
}
