.w-menu-item {
  position: absolute;
  background: var(--bg-default);
  border: 1px solid var(--c-border);
  z-index: var(--z-menu);
  top: 31px;
  border-radius: 2px;
  outline: none;
}
.w-menu-item .glyphicon-cloud {
  vertical-align: text-bottom;
}
.w-menu-item a {
  display: block;
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 6px;
  font-weight: normal;
  white-space: nowrap;
  margin: 0 !important;
}
.w-menu-auto .w-menu-item a {
  max-width: inherit;
}
.w-menu-item .w-menu-options {
  border-bottom: 1px dashed var(--c-border);
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
.w-menu-item a .glyphicon,
.w-menu-item input {
  margin-right: 8px;
  font-size: 12px;
  vertical-align: text-bottom;
}
.w-menu-item a .glyphicon {
  vertical-align: initial;
}
.w-menu-item a .glyphicon-ok,
.w-menu-item a .glyphicon-plus {
  color: #5bbd72;
}
.w-create-menu-item a .glyphicon-plus {
  color: var(--c-default);
}
.w-network-menu-item .w-menu-options a {
  max-width: 320px;
}
