.w-dialog-for-plguin .modal-header h4 {
  font-size: 14px;
  font-weight: bold;
}

.w-dialog-for-plguin .modal-header {
  padding: 5px 10px;
  position: relative;
  display: none;
}

.w-dialog-for-plguin .modal-header button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.w-context-menu  li[data-menu-action=Remove] ul, .w-context-menu  li[data-menu-action="+Value"] ul {
  top: -30px!important;
}
