.w-ns-dialog fieldset {
  border: 1px solid var(--c-border);
  padding-bottom: 10px;
}
.w-ns-dialog legend {
  border: none;
  margin: 0 10px;
  padding: 0 10px;
  width: auto;
}
.w-ns-dialog legend label {
  font-size: 13px;
  width: auto;
  padding: 0;
}
.w-ns-dialog label {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  width: 96px;
  margin-right: 10px;
  font-weight: bold;
  text-align: right;
}
.w-ns-columns {
  margin-top: 10px;
}
.w-ns-filter {
  border: none !important;
}
.w-ns-filter legend {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.w-ns-filter legend label {
  margin-right: 5px;
}
.w-ns-filter textarea[disabled] {
  background: var(--bg-disabled);
}
.w-ns-columns label {
  white-space: nowrap;
  padding-left: 10px;
  margin-left: 10px;
  text-align: left;
  width: 120px;
}
.w-ns-columns label .glyphicon-edit {
  margin-left: 5px;
  cursor: pointer;
}
.w-ns-columns label .glyphicon-edit:hover {
  color: var(--c-hover);
}
.w-ns-columns .btn {
  margin-right: 0;
  text-align: center;
  color: #666;
  width: 72px;
}
.w-ns-columns legend label {
  margin-left: 0;
}
.w-ns-dialog .modal-dialog {
  width: 600px;
}
.w-ns-dialog input[type='checkbox'] {
  margin-right: 5px;
}
.w-ns-dialog textarea {
  width: 578px;
  height: 90px;
  border: 1px solid var(--c-border);
  overflow: auto;
  margin: 0;
  padding: 5px 10px;
  border-radius: 5px;
}
.w-ns-dialog .w-help-menu {
  color: var(--c-default);
  font-size: 14px;
}
.w-ns-dialog .w-help-menu:hover,
.w-https-dialog .w-help-menu:hover,
.w-certs-dialog .w-help-menu:hover {
  color: var(--c-hover);
}
.w-https-dialog .w-help-menu,
.w-certs-dialog .w-help-menu {
  margin-right: 5px;
  color: var(--c-default);
  font-size: 14px;
}
.w-ns-dialog div input[type='text'] {
  width: 436px;
}
.w-ns-own {
  width: auto !important;
  margin: 10px 0 0;
  white-space: nowrap;
  display: flex!important;
  text-align: left!important;
  align-items: center;
}
.w-ns-own select {
  margin-left: 20px;
  width: 160px;
  display: inline-block;
}
.w-ns-own .glyphicon-tree-conifer {
  margin: -3px 2px 0 0;
}
.w-network-custom-col {
  display: inline-block;
  max-width: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w-ns-columns label span {
  vertical-align: middle;
  overflow: hidden;
  font-weight: normal;
}
.w-ns-edit label {
  white-space: nowrap;
  margin-bottom: 10px;
}
.w-ns-edit label span {
  display: inline-block;
  width: 100px;
}
.w-ns-edit label .form-control {
  display: inline-block;
  margin: 0 10px;
  font-weight: normal;
}
.w-ns-edit label select {
  width: 150px;
}
.w-ns-edit label input {
  width: 345px;
}
.w-ns-edit .modal-dialog {
  width: 500px;
}
.w-ns-columns legend .btn-primary {
  width: auto;
  margin-right: 10px;
  padding: 0 8px;
  color: var(--c-active);
  font-weight: normal;
}
.w-certs-title {
  margin-bottom: 10px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.w-query-select {
  font-size: 12px;
  width: 64px;
  text-align: center;
  height: 20px;
  color: var(--c-weak);
  margin-left: 5px;
  border: 1px solid var(--c-border);
  border-radius: 3px;
}
