.w-online-dialog .modal-dialog {
  width: 320px;
}
.w-online-dialog-info,
.w-online-view-dns {
  display: none;
}
.w-online-dialog-ctn h5 {
  padding: 5px 0;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.w-online-dialog-ctn p {
  margin: -23px 0 5px 36px;
}
.w-confirm-reload-dialog {
  z-index: 1000000000;
}
.w-confirm-reload-global {
  z-index: 1000000001;
}
.w-confirm-reload-dialog .modal-dialog {
  width: 280px;
}
.w-confirm-reload-dialog .w-confirm-reload {
  font-weight: bold;
  line-height: 1.8;
  padding: 10px 20px;
}
.w-confim-reload-note {
  color: red;
  margin: 0;
}

.w-online-menu > span {
  margin-left: 5px;
  font-size: 13px;
}

.w-dns-servers-dialog {
  z-index: 1100;
}

.w-dns-servers-dialog pre {
  font-size: 14px;
  font-weight: bold;
}

.w-dns-servers-dialog .modal-dialog {
  width: 420px;
}

.w-tips-dialog .modal-dialog {
  width: 560px !important;
}

#appearanceMode {
  display: inline-block;
  width: 150px;
  margin-left: 10px;
  height: 32px;
  font-size: 13px;
  font-weight: normal;
}
