.w-detail-overview>.w-properties-wrap:last-child {border-top: 1px solid #ccc;}
.w-detail-overview-title {margin: 0; padding: 6px 5px 0;}
.w-detail-overview-title:after {
  content:""; 
  display: block; 
  clear:both; 
}
.w-detail-overview-title a {text-decoration: none!important; color: #333; float: left;}
.w-detail-overview-title label { float: right; font-weight: normal; } 
.w-detail-overview-title label input { margin-right: 5px; vertical-align:text-bottom; }
.w-detail-overview-title a:hover {color: #337ab7;}