.table-hover>tbody>tr:hover {
  background-color: var(--b-hover);
}

.nav-tabs {
  border-bottom: 1px solid var(--c-border);
}

.nav-tabs>li>a:hover {
  background-color: var(--b-heavy);
  border-color: var(--c-border);
}

.nav-tabs>li.active>:is(a, a:focus, a:hover) {
  color: var(--c-thin);
  background: var(--b-default);
  border: 1px solid var(--c-border);
  border-bottom-color: transparent;
}

.modal-header {
  border-bottom: 1px solid var(--c-border);
}

.modal-content {
  position: relative;
  background-color: var(--b-default);
  border: 1px solid var(--c-border);
}

.modal-footer {
  border-top: 1px solid var(--c-border);
}

.form-control {
  background-color: var(--b-default);
  border: 1px solid var(--c-border);
  color: var(--c-thin);
  padding: 0 6px;
}

.alert-danger {
  color: var(--c-danger);
  background-color: var(--b-error);
  border: none;
}

.alert-warning {
  color: var(--c-tree-warning);
  background-color: var(--b-warn);
  border: none;
}

.alert-info {
  color: var(--c-tree-info);
  background-color: var(--b-alert-info);
  border: none;
}

.alert-success {
  color: var(--c-success);
  background-color: var(--b-success);
  border: none;
}

.table>tbody>tr>:is(td, th), .table>thead>tr>:is(td, th) {
    border-top: 1px solid var(--c-border);
}

.table>thead>tr>th {
  border-bottom: 1px solid var(--c-border);
}

legend, pre {
  color: var(--c-heavy)
}

a {
  color: var(--c-link);
}

a:focus, a:hover {
  color: var(--c-link-hover);
}

.close {
  color: var(--c-gray);
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
}

.close:focus, .close:hover {
  color: var(--c-default);
  filter: alpha(opacity=100);
  opacity: 1;
}

.btn-default {
  color: var(--c-heavy);
  background-color: var(--b-default);
  border-color: var(--c-border);
}

.dropdown-menu {
  background-color: var(--c-default);
  border: 1px solid var(--c-border);
  box-shadow: 0 6px 9pt var(--s-rgba15);
}

.btn-default:is(.active, :hover, :focus, :active),
.w-tabs-sm .btn-default:is(.active:focus, .active:hover, :active:focus, :active:hover) {
  color: var(--c-heavy);
  background-color: var(--b-btn-hover);
  border-color: var(--c-border);
}

.btn-default:is(.active:focus, .active:hover, :active:focus, :active:hover),
.open>.dropdown-toggle.btn-default:is(:focus, :hover) {
  color: var(--c-heavy);
  background-color: var(--b-btn-active);
  border-color: var(--c-border);
}

.btn-default[disabled] {
  background-color: var(--b-default)!important;
  border-color: var(--c-border)!important;
}

.btn-primary {
  color: var(--c-btn);
  background-color: var(--b-primary);
  border-color: var(--c-primary);
}

.btn-primary:is(.active, :hover, :focus, :active) {
  color: var(--c-btn);
  background-color: var(--b-primary-hover);
  border-color: var(--c-primary);
}

.btn-primary:is(.active:focus, .active:hover, :active:focus, :active:hover) {
  color: var(--c-btn);
  background-color: var(--b-primary-active);
  border-color: var(--c-primary);
}

.btn-danger {
  color: var(--c-btn);
  background-color: var(--b-danger);
  border-color: var(--c-danger);
}

.btn-danger:is(.active, :hover, :focus, :active) {
  color: var(--c-btn);
  background-color: var(--b-danger-hover);
  border-color: var(--c-danger-hover);
}

.btn-danger:is(.active:focus, .active:hover, :active:focus, :active:hover) {
  color: var(--c-btn);
  background-color: var(--b-danger-active);
  border-color: var(--c-danger-active);
}

.btn-warning {
  color: var(--c-btn);
  background-color: var(--b-warning);
  border-color: var(--c-warning);
}

.btn-warning:is(.active, :hover, :focus, :active) {
  color: var(--c-btn);
  background-color: var(--b-warning-hover);
  border-color: var(--c-warning-hover);
}

.btn-warning:is(.active:focus, .active:hover, :active:focus, :active:hover) {
  color: var(--c-btn);
  background-color: var(--b-warning-active);
  border-color: var(--c-warning-active);
}

.btn-info {
  color: var(--c-btn);
  background-color: var(--b-info);
  border-color: var(--c-info);
}

.btn-info:is(.active, :hover, :focus, :active) {
  color: var(--c-btn);
  background-color: var(--b-info-hover);
  border-color: var(--c-info-hover);
}

.btn-info:is(.active:focus, .active:hover, :active:focus, :active:hover) {
  color: var(--c-btn);
  background-color: var(--b-info-active);
  border-color: var(--c-info-active);
}

.table>tbody>tr.success>:is(td, th) {
  background-color: var(--b-success);
}

.table>tbody>tr.active>:is(td, th) {
  background-color: var(--b-hover);
}

.table>tbody>tr.danger>:is(td, th) {
  background-color: var(--b-error);
}
.table>tbody>tr.warning>:is(td, th) {
  background-color: var(--b-warn);
}
.table>tbody>tr.info>:is(td, th)  {
  background: var(--b-alert-info);
}

.dropdown-menu {
  background-color: var(--b-bar);
}

.dropdown-menu .divider {
  background: var(--c-border);
}

.dropdown-menu>li>a {
    color: var(--c-heavy);
}

.dropdown-menu>li>a:is(:focus, :hover) {
  color: var(--c-heavy);
  text-decoration: none;
  background-color: var(--b-hover);
}

.modal-content {
  border: 1px solid var(--c-border);
  box-shadow: 0 5px 15px var(--s-rgba50);
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px var(--s-rgba50);
    box-shadow: 0 5px 15px var(--s-rgba50);
  }
}

.modal-backdrop.in {
  filter: alpha(opacity=100);
  opacity: 1;
  background: var(--b-modal);
}

select.form-control[disabled] {
  background: var(--b-disabled);
}

.form-control {
  background: field;
}

.w-json-tree label {
  font-weight: normal;
}
