.w-plugins-mgr-dialog .modal-content {
  width: 380px;
}

.w-plugins-mgr-dialog .plugin-mgr-btn {
  display: block;
  line-height: 1.5;
  width: 320px;
  margin: 20px auto;
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.w-plugins-mgr-dialog .plugin-mgr-btn span {
  opacity: 0.66;
  font-weight: 400;
}
