.w-nav-tabs {padding-top: 10px; border-top: 1px solid #ccc; font-size: 13px;}
.w-nav-tabs>.nav>li>a {padding: 5px 20px 5px 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 120px; position: relative;}
.w-nav-tabs>.nav>li>a>.w-close-icon {display: block; position: absolute; top: 5px; right: 5px; color: #999; cursor: pointer;}
.w-nav-tabs>.nav>li>a>.w-close-icon:hover {color: #000;}
.w-plugin-tab-disabled { color: #ccc; }
.w-plugin-tab-disabled .glyphicon-ban-circle { vertical-align: text-top; margin-right: 3px; color: #ccc!important; }
.w-nav-tabs iframe {border: none; display: block; margin: 0; padding: 0; width: 100%; height: 100%;}
.w-nav-tabs .w-nav-tab-panel, .w-nav-tabs .w-nav-tab-panel>div {overflow: hidden;}
.w-nav-tabs>.nav>.w-nav-home-tab>a {padding-right: 10px!important;}

.w-plugins th, .w-plugins td {font-size: 13px; font-weight: normal; }
.w-plugins-headers {border-bottom: 1px solid #ccc; overflow: hidden;}
.w-plugins-headers .table th {border: none!important; padding: 6px; color: #000; background: #fafafa; font-weight: bold;}
.w-plugins-list {overflow-y: auto; overflow-x: hidden; outline: none;}
.w-plugins-list th, .w-plugins-list td {border-top: none!important; border-bottom: 1px solid #ddd;
padding: 8px 6px!important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.w-plugins-disable, .w-plugins-disable a, .w-plugins-disable td { color: #aaa; }

.w-plugins-order {width: 50px;}
.w-plugins-active {width: 60px;}
.w-plugins-list td.w-plugins-active input {margin-left: 12px; vertical-align:text-bottom;}
.w-plugins-name {width: 160px;}
.w-plugins-version {width: 140px;}
.w-plugins-list .w-has-new-version .w-plugins-version .w-new-version,
.w-plugins-list .w-has-new-version .w-plugin-update-btn {
  color: #f66!important;
}
.w-plugins-list .w-has-new-version .w-plugins-version span {
  margin-left: 3px;
}
.w-plugins-list .w-has-new-version .w-plugins-version span:hover,
.w-plugins-list .w-has-new-version .w-plugin-update-btn:hover {
  color: #f33!important;
}
.w-plugins-date {width: 180px;}
.w-plugins-operation { width: 360px; }
.w-plugins-operation a, .w-plugins-operation span.disabled  {margin-right: 20px;}
.w-plugins-operation a:last-child, .w-plugins-operation span.disabled:last-child {margin-right: 0;}
.w-plugins-operation span.disabled {color: #ccc;}

.w-plugin-rules-dialog .modal-dialog {width: 640px;}
.w-plugin-rules-dialog .modal-dialog pre {max-height: 220px; overflow: auto; padding: 10px;}
.w-plugin-rules-dialog fieldset {border: 1px solid #ddd;}
.w-plugin-rules-dialog fieldset legend {font-size: 13px; padding: 0 10px; border: none; width: auto; margin: 0 10px; font-weight: bold;}
.w-plugin-rules-dialog fieldset:nth-child(2) {margin-top: 15px;}
.w-plugin-rules-dialog .modal-header h4 {margin: 0;}
.w-plugin-rules-dialog .modal-header .close { position: absolute; right: 10px; top: 16px;}

.w-plugin-update-dialog .modal-dialog {width: 600px;}
.w-plugin-update-cmd {
  background: #002240;
  color: #ddd;
  padding: 15px;
  margin-top: 10px;
  font-size: 14px;
  display: block;
  width: 578px;
  height: 220px;
}
.w-plugin-btn {
  color: #337ab7!important;
}
.w-plugin-btn:hover {
  color: #23527c!important;
}