.w-properties-wrap {
  position: relative;
}
.w-properties-wrap:hover .w-properties-btn {
  display: inline-block;
}
.w-properties-source {
  padding: 5px 10px;
}
.w-properties-view-source .w-properties-parsed {
  display: none;
}
.w-properties-view-parsed .w-properties-source {
  display: none;
}
.w-properties-view-source .w-textarea-bar,
.w-properties-view-parsed .w-textarea-bar {
  right: 5px !important;
}
.w-properties th,
.w-properties td {
  border: none !important;
  font-size: 12px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.w-properties tr {
  border-bottom: 1px solid #ccc;
}
.w-properties th {
  width: 124px;
  text-align: right;
  font-weight: normal;
  background: #e1e3e6;
  padding-right: 3px;
  word-break: break-word;
}
.w-enabled-rules {
  overflow-y: auto;
}
.w-enabled-rules .w-properties th {
  width: 36px;
  padding-left: 5px;
  vertical-align: middle;
}
.w-properties td {
  padding-left: 5px;
  vertical-align: top;
  overflow: hidden;
  word-break: break-word;
}

.w-properties-btn {
  display: none;
  position: absolute;
  text-decoration: none !important;
  color: #747474;
  padding: 0 5px;
  z-index: 1;
  border-radius: 2px;
  top: 2px;
  right: 5px;
  font-size: 12px;
  line-height: 1.5;
  background: #eee;
  cursor: pointer;
}
.w-properties-btn:hover {
  color: #337ab7;
}
.w-properties th .glyphicon-question-sign {
  display: none;
  margin-right: 5px;
  vertical-align: text-top;
  cursor: pointer;
  font-size: 13px;
}

.w-properties th .glyphicon-question-sign.w-enable-https-btn-help,
.w-properties th:hover .glyphicon-question-sign {
  display: inline-block;
}

.w-prop-raw-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-user-select-none {
  user-select: none;
}

.w-user-select-none > pre, .w-user-select-none > span  {
  user-select: text;
  display: block;
}

.w-properties .w-properties-json {
  padding-top: 0!important;
  padding-bottom: 5px!important;
}

.w-properties .w-properties-json>ul {
  background: #fff!important;
  margin: 0!important;
}

.w-prop-icon {
  cursor: pointer!important;
  text-decoration: none!important;
  color: #000;;
}

.w-src-info {
  margin-left: 30px;
}

span.w-src-info {
  color: #999;
}
