.w-properties-wrap { position: relative; }
.w-properties-wrap:hover .w-properties-btn { display: inline-block; }
.w-properties-source { padding: 5px 10px; }
.w-properties-view-source .w-properties-parsed { display: none; }
.w-properties-view-parsed .w-properties-source { display: none; }
.w-properties-view-source .w-textarea-bar,
.w-properties-view-parsed .w-textarea-bar { right: 5px!important; }
.w-properties th , .w-properties td {border: none!important; font-size: 12px; padding-top: 3px!important; padding-bottom: 3px!important;}
.w-properties tr {border-bottom: 1px solid #ccc;}
.w-properties th {width: 124px; text-align: right; font-weight: normal; background: #e1e3e6; padding-right: 3px; word-break: break-word;}
.w-properties td {padding-left: 5px; vertical-align: top; overflow: hidden; word-break: break-word;}

.w-properties-btn {display: none; position: absolute; text-decoration: none!important; color: #747474; padding: 0 5px;
z-index: 1; border-radius: 2px; top: 2px; right: 5px; font-size: 12px; line-height: 1.5; background: #eee; cursor: pointer; }
.w-properties-btn:hover {color: #337ab7;}
.w-properties th .glyphicon-question-sign {
  display: none;
}

.w-properties th:hover .glyphicon-question-sign {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
  cursor: pointer;
  font-size: 13px;
}
