.w-props-editor {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.w-props-editor th,
.w-props-editor td {
  border: none;
  border-bottom: 1px solid var(--c-border);
  border-top: none !important;
  padding: 0 !important;
  font-weight: normal;
  font-size: 12px;
  word-break: break-word;
}
.w-props-editor th {
  width: 125px;
  line-height: 22px !important;
  background: var(--b-prop);
  text-align: right;
  padding: 0 8px !important;
}
.w-props-editor .w-props-ops {
  width: 75px;
  padding: 4px 0 0 8px !important;
  padding-left: 0 !important;
  background: var(--b-bar);
}
.w-props-ops span {
  margin-left: 15px !important;
  text-decoration: none !important;
  cursor: pointer;
}
.w-edit-btn {
  color: var(--c-heavy);
}
.w-edit-btn:hover {
  color: var(--c-link);
}
.w-del-btn {
  color: var(--c-risk);
}
.w-del-btn:hover {
  color: var(--c-error);
}

.w-props-editor pre {
  overflow: auto;
  line-height: 22px !important;
  max-height: 350px;
  padding: 0 8px !important;
}

.w-add-field {
  font-size: 14px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -38px;
}

.w-add-field.w-add-header {
  margin-left: -48px;
}
.w-com-dialog .modal-content {
  width: 600px;
}
.w-com-dialog label {
  display: block;
  padding: 10px 0;
}
.w-com-dialog textarea {
  height: 120px;
  white-space: normal;
}
.w-props-editor-upload {
  white-space: nowrap;
}
.w-props-editor-upload .btn-primary {
  line-height: 108px;
  vertical-align: middle;
}
.w-props-editor-upload textarea {
  display: inline-block;
  width: 478px;
  margin-right: 8px;
  vertical-align: middle;
}
.w-props-editor-form button {
  display: none;
}
.w-com-dialog label input,
.w-com-dialog label textarea {
  font-weight: normal;
}

.w-props-editor-file {
  position: relative;
  display: inline-block;
  width: 577px;
  height: 120px;
  line-height: 120px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid var(--c-border);
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.w-props-editor-file .close {
  width: 20px;
  height: 20px;
  position: absolute;
  line-height: 20px;
  top: 0;
  right: 3px;
}
