.w-props-editor {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.w-props-editor th {
  display: inline-block;
  width: 233px;
  line-height: 22px;
  background: #e1e3e6;
}
.w-props-editor th, .w-props-editor td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 0 8px!important;
  font-weight: normal;
  font-size: 12px;
}

.w-props-editor .w-props-ops {
  width: 82px;
  padding-top: 4px!important;
}
.w-props-editor .w-props-ops a {
  margin-right: 15px!important;
  color: #333;
  text-decoration: none!important;
}
.w-props-ops a:hover {
  color: #337ab7;
}
.w-props-editor pre {
  overflow: auto;
  max-height: 120px;
}
