.w-props-editor {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.w-props-editor th, .w-props-editor td {
  border: none;
  border-bottom: 1px solid #ddd;
  border-top: none!important;
  padding: 0!important;
  font-weight: normal;
  font-size: 12px;
  word-break: break-word;
}
.w-props-editor th {
  width: 125px;
  line-height: 22px!important;
  background: #e1e3e6;
  text-align: right;
  padding: 0 8px!important;
}
.w-props-editor .w-props-ops {
  width: 75px;
  padding: 4px 0 0 8px!important;
  padding-left: 0!important;
  background: #fafafa;
}
.w-props-editor .w-props-ops a {
  margin-left: 15px!important;
  color: #333;
  text-decoration: none!important;
}
.w-props-ops a:hover {
  color: #337ab7;
}
.w-props-editor pre {
  overflow: auto;
  line-height: 22px!important;
  max-height: 350px;
  padding: 0 8px!important;
}

.w-props-editor .w-props-ops .glyphicon-remove {
  color: #f5222d;
}
.w-props-editor .w-props-ops .glyphicon-remove:hover {
  color: #ff0000;
}

.w-add-field {
  font-size: 14px!important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -38px;
}

.w-add-field.w-add-header {
  margin-left: -48px;
}
.w-composer-dialog .modal-content {
  width: 600px;
}
.w-composer-dialog label {
  display: block;
  padding: 10px 0;
}
.w-composer-dialog textarea {
  height: 120px;
  white-space: normal;
}
.w-props-editor-upload {
  white-space: nowrap;
}
.w-props-editor-upload .btn-primary {
  line-height: 108px;
  vertical-align: middle;
}
.w-props-editor-upload textarea {
  display: inline-block;
  width: 475px;
  margin-right: 8px;
  vertical-align: middle;
}
.w-props-editor-form button {
  display: none;
}
.w-composer-dialog label input, .w-composer-dialog label textarea {
  font-weight: normal;
}

.w-props-editor-file {
  position: relative;
  display: inline-block;
  width: 577px;
  height: 120px;
  line-height: 120px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.w-props-editor-file .close {
  width: 20px;
  height: 20px;
  position: absolute;
  line-height: 20px;
  top: 0;
  right: 0;
}
