.w-props-wrap {
  position: relative;
}
.w-props-source {
  padding: 5px 10px;
}
.w-props-view-source .w-props-parsed {
  display: none;
}
.w-props-view-parsed .w-props-source {
  display: none;
}
.w-props-view-source .w-textarea-bar,
.w-props-view-parsed .w-textarea-bar {
  right: 5px !important;
}
.w-props th,
.w-props td {
  border: none !important;
  font-size: 12px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.w-props tr {
  border-bottom: 1px solid var(--c-border);
}
.w-props th {
  width: 124px;
  text-align: right;
  font-weight: normal;
  background: var(--b-prop);
  padding-right: 3px;
  word-break: break-word;
}
.w-enabled-rules {
  overflow-y: auto;
}
.w-enabled-rules .w-props th {
  width: 36px;
  padding-left: 5px;
  vertical-align: middle;
}
.w-props td {
  padding-left: 5px;
  vertical-align: top;
  overflow: hidden;
  word-break: break-word;
}

.w-props th .glyphicon-question-sign {
  display: none;
}

.w-props th:hover .w-help-icon,
.w-props th .w-enable-https-help {
  display: inline-block;
  vertical-align: top;
}

.w-props-raw-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-user-select-none {
  user-select: none;
}

.w-user-select-none > pre, .w-user-select-none > span  {
  user-select: text;
  display: block;
}

.w-props .w-props-json {
  padding-top: 0!important;
  padding-bottom: 5px!important;
}

.w-props .w-props-json>ul {
  background: var(--b-default)!important;
  margin: 0!important;
}

.w-props-icon {
  cursor: pointer!important;
  text-decoration: none!important;
  color: var(--c-default);;
}

.w-src-info {
  margin-left: 30px;
}

span.w-src-info {
  color: var(--c-gray);
}

.w-com-dialog .form-control {
  padding: 6px;
}
