.w-switch-btn .glyphicon-stop {
  color: var(--c-risk);
}

.w-switch-btn .w-disabled .glyphicon-stop,
.w-switch-btn .w-pause .glyphicon-stop,
.w-switch-btn .w-pause.glyphicon-stop,
.w-switch-btn .w-menu-item .glyphicon-stop,
.w-switch-btn .w-disabled .glyphicon-minus-sign,
.w-switch-btn .w-pause .glyphicon-minus-sign,
.w-switch-btn .w-menu-item .glyphicon-minus-sign {
  color: var(--c-disabled) !important;
}


