.w-req-data-con {
  overflow-x: auto;
}
.w-req-data-ctn {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}
.w-req-data-ctn .order {
  width: 50px;
  position: relative;
}
.w-req-data-ctn .order .glyphicon {
  font-size: 6px;
  position: absolute;
  top: 2px;
  left: 1px;
  font-weight: normal !important;
}
.w-req-data-ctn .date {
  width: 150px;
}
.w-req-data-ctn .result {
  width: 65px;
}
.w-req-data-ctn .protocol {
  width: 92px;
}
.w-req-data-ctn .method {
  width: 75px;
}
.w-req-data-ctn .time,
.w-req-data-ctn .dns {
  width: 70px;
}
.w-req-data-ctn .serverPort,
.w-req-data-ctn .clientPort {
  width: 90px;
}
.w-req-data-ctn .type {
  width: 125px;
}
.w-req-data-ctn .clientIp,
.w-req-data-ctn .hostIp {
  width: 110px;
}
.w-req-data-ctn .hostname {
  width: 150px;
}
.w-req-data-ctn .request,
.w-req-data-ctn .response,
.w-req-data-ctn .download,
.w-req-data-ctn .contentEncoding,
.w-req-data-ctn .body {
  width: 90px;
}

.w-req-data-headers {
  height: 29px;
  border-bottom: 1px solid var(--c-border);
  overflow: hidden;
}
.w-req-data-headers .table {
  height: 30px;
}
.w-req-data-headers .table th {
  border: none !important;
  padding: 2px 0 6px 6px;
  -webkit-user-select: none;
  user-select: none;
  font-weight: normal;
  color: var(--c-default);
  position: relative;
  cursor: pointer;
  background-color: var(--b-bar);
}
.w-req-data-headers .table th:last-child {
  box-sizing: content-box;
}
.w-req-data-headers .table th:hover {
  background-color: var(--b-btn-hover) !important;
}
.w-req-data-list {
  overflow: hidden;
  outline: none;
}
.w-req-data-list th,
.w-req-data-list td {
  border-top: none !important;
  border-bottom: 1px solid var(--c-border);
  font-weight: normal;
  font-size: 12px;
  padding: 3px 0 3px 6px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 21px !important;
}
.w-req-data-con .w-filter-con,
.w-req-data-ctn {
  min-width: 820px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.w-menu,
.w-left-menu {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.w-req-data-list .w-tunnel th,
.w-req-data-list .w-tunnel td {
  color: var(--c-gray);
}
.w-req-data-list .w-has-rules th,
.w-req-data-list .w-has-rules td,
.w-req-data-list .tree-leaf.w-has-rules {
  font-weight: 500;
  color: var(--c-has);
}

.w-req-data-list .w-has-local th,
.w-req-data-list .w-has-local td,
.w-req-data-list .tree-leaf.w-has-local {
  font-weight: 500;
  color: var(--c-default);
}

.w-req-data-list .w-error-status th,
.w-req-data-list .w-error-status td {
  color: var(--c-danger);
}
.w-req-data-list .w-forbidden th,
.w-req-data-list .w-forbidden td {
  color: var(--c-forbidden);
}
.w-req-data-list tr {
  cursor: default;
  background: var(--b-default);
}
.w-req-data-list .w-hover-body tr.w-selected th,
.w-req-data-list .w-hover-body tr.w-selected td {
  background: var(--c-link) !important;
  color: var(--c-active) !important;
}

.w-req-data-list .tree-leaf .glyphicon {
  color: var(--c-thin) !important;
  font-size: 12px;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  font-weight: normal !important;
}
.w-req-data-list .tree-leaf .w-type-icon {
  transform: scale(0.8);
  display: inline-block;
  padding-right: 3px;
  font-weight: normal !important;
  color: var(--c-thin) !important;
  margin-left: -4px;
}
.w-req-data-list .tree-leaf.success span {
  color: var(--c-tree-success) !important;
}
.w-req-data-list .tree-leaf.info span {
  color: var(--c-tree-info) !important;
}
.w-req-data-list .tree-leaf.warning span {
  color: var(--c-tree-warning) !important;
}
.w-req-data-list .tree-leaf.active span {
  color: var(--c-link) !important;
}
.w-req-data-list .tree-leaf.w-error-status,
.w-req-data-list .tree-leaf.w-error-status span {
  color: var(--c-danger) !important;
}
.w-req-data-list .tree-leaf.w-forbidden span {
  color: var(--c-tree-forbidden) !important;
}
.w-req-data-list .tree-leaf.w-mark {
  color: var(--c-tree-mark) !important;
}
.w-req-data-list .tree-leaf.danger span {
  color: var(--c-tree-danger) !important;
}

.w-qrcode-dialog .modal-dialog {
  width: 350px;
}

.w-qrcode-dialog .close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 21px;
}

.w-qrcode-dialog h4 {
  margin: 5px 0 0;
  font-size: 15px;
  font-weight: normal;
}

.w-qrcode-dialog canvas {
  width: 320px;
  height: 320px;
}

.w-qrcode-url-wrap {
  display: flex;
  align-items: center;
  width: 320px;
}

.w-qrcode-url-wrap input {
  flex: 1;
}

.w-qrcode-url-wrap span, .w-root-ca-url-wrap span {
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  color: var(--c-thin);
}

.w-qrcode-dialog input {
  border: 1px solid var(--c-border);
  padding: 3px;
  display: block;
  width: 320px;
  overflow: hidde;
  margin: 15px 0 10px;
}

.w-qrcode-dialog .modal-dialog .modal-body,
.w-qrcode-dialog .modal-dialog .modal-footer {
  padding: 10px 15px;
}

.w-ctx-menu li[data-menu-action='Plugins'] ul {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 310px;
}

.w-ctx-menu li[data-menu-action='Plugins'] li {
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-ctx-menu li[data-menu-action='Modify'] ul {
  top: -61px !important;
}

.w-spinner {
  position: absolute;
  top: -9px;
  right: -2px;
  font-size: 12px;
  -webkit-transform: scale(0.625, 0.625);
  transform: scale(0.625, 0.625);
  overflow: hidden;
  padding: 11px 4px 10px 0;
}
.w-spinner span {
  display: block;
}
.w-spinner .glyphicon-triangle-top.spinner-desc {
  visibility: hidden;
}
.w-spinner .glyphicon-triangle-bottom.spinner-asc {
  visibility: hidden;
}

.w-header-drag-block {
  position: absolute;
  top: 0;
  right: -2px;
  height: 28px;
  width: 12px;
  cursor: col-resize;
  z-index: 1;
}

.tree-node {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
  padding: 0 10px;
  font-size: 12px;
  outline: none;
}

.tree-node:hover {
  background: var(--b-btn-hover);
}

.tree-node.w-selected {
  background: var(--b-tree-active);
  color: var(--c-active);
}

.highlight, .w-highlight td, .w-highlight th {
  animation-name: blink;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes blink {
  70% {
    background-color: var(--b-blink);
  }
}

.icon-fold {
  font-size: 10px;
  opacity: 0.5;
  padding: 10px 10px;
  margin: -10px;
  margin-right: -6px;
  transform: scale(0.8);
}

.w-tree-view-list > div > .ReactVirtualized__Grid {
  overflow: auto !important;
}
.w-tree-view-list .ReactVirtualized__Grid__innerScrollContainer {
  overflow: auto !important;
  width: 100% !important;
  overflow-y: hidden !important;
}

.w-tree-view-list .ReactVirtualized__Grid__innerScrollContainer tr {
  width: auto !important;
  white-space: nowrap;
}

.w-tree-view-list
  .ReactVirtualized__Grid__innerScrollContainer::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

.w-tree-view-list
  .ReactVirtualized__Grid__innerScrollContainer::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.w-record-status {
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  background-color: var(--b-warn);
  border-bottom: 1px solid var(--c-border);
  color: var(--c-error);
}

.w-record-status .btn {
  font-size: 12px;
  line-height: 20px;
  height: 22px;
  margin-left: 20px;
  padding: 0 8px;
  margin-top: -2px;
}

.w-pr td, .w-pr th {
  font-style: italic;
  font-weight: normal!important;
}

.w-back-to-the-bottom {
  position: absolute;
  bottom: 5px;
  right: 13px;
  font-size: 11px;
  color: var(--c-link);
  padding: 5px 8px;
  background-color: var(--b-default);
  border: 1px solid var(--c-border);
  border-radius: 20px;
  opacity: .85;
  display: none;
}
.w-back-to-the-bottom span {
  margin-right: 3px;
}
.w-back-to-the-bottom:hover {
  opacity: 1;
}

.w-save-sessions-label .form-control {
  width: 350px!important;
}
