.w-detail-res textarea {
  padding: 5px;
  border: none;
}
.w-detail-res-headers,
.w-detail-res-cookies {
  overflow: auto;
}
.w-detail-res-cookies table {
  table-layout: auto;
}

.w-detail-res-cookies tbody > tr > td:nth-child(7),
.w-detail-res-cookies tbody > tr > td:nth-child(8),
  .w-detail-res-cookies tbody > tr > td:nth-child(10) {
  text-align: center;
  vertical-align: middle;
}
.w-show-history .w-btn-group-sm {
  height: 22px;
  overflow: hidden;
}
