.w-service-btn {
  font-weight: bold;
}

.w-service-btn .w-disabled {
  cursor: pointer!important;
}

.w-large-dialog.w-login-dialog .modal-dialog {
  width: 420px;
  height: 520px;
  min-width: 420px;
  min-height: 520px;
}
