.w-spinner {
  position: absolute;
  top: -6px;
  right: -2px;
  font-size: 12px;
  -webkit-transform : scale(0.625,0.625); 
  transform: scale(0.625,0.625);
  overflow: hidden;
  padding: 8px 4px 8px 0;
  /* cursor: col-resize; */
}
/* .w-req-data-headers th:last-child .w-spinner {
  cursor: pointer!important;
} */
.w-spinner span {display: block;}
.w-spinner .glyphicon-triangle-top.spinner-desc {visibility: hidden;}
.w-spinner .glyphicon-triangle-bottom.spinner-asc {
  visibility: hidden;
}