.w-table > thead > tr > th {
  background: #eee;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

.w-table th,
.w-table td {
  font-size: 12px;
  padding: 3px 5px !important;
  border-top: none;
  border-bottom: 1px solid #ccc;
  word-break: break-word;
}
