.w-table > thead > tr > th {
  white-space: nowrap;
  background: var(--b-bar);
  border-bottom: 1px;
  font-weight: 500;
  color: var(--c-default);
}

.w-table :is(th, td) {
  font-size: 12px;
  padding: 3px 5px !important;
  border-top: none;
  border-bottom: var(--v-border);
  word-break: break-word;
}

.w-order-table table  tr > th:first-child {
  width: 45px;
}

.w-order-table-head {
  background: var(--b-bar);
}

.w-order-table .table :is(td, th) {
  border-top: none;
  border-bottom: var(--v-border);
  vertical-align: middle;
}

.w-order-table .w-order-table-head th {
  padding: 4px 8px !important;
}

.w-order-table-body {
  max-height: calc(100% - 28px);
  overflow-y: auto;
}

.w-order-table-body :is(td, th) {
  font-size: 13px;
  font-weight: 400;
}

.w-table-cell-middle {
  vertical-align: middle!important;
}

.w-order-table-op {
  white-space: nowrap;
}

.w-order-table-op a {
  margin-right: 20px;
}
.w-order-table-op a:last-child {
  margin-right: 0;
}
