.w-textarea {
  position: relative;
}
.w-textarea-bar {
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  top: 2px;
  right: 12px;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.5;
  background: var(--b-heavy);
}
.w-textarea:hover .w-textarea-bar {
  display: block;
}
.w-textarea-bar a {
  display: inline-block;
  text-decoration: none;
  color: var(--c-thin);
  padding: 0 5px;
}
.w-textarea-bar a:hover {
  color: var(--c-default);
}

.w-textarea-input {
  display: block;
  position: absolute;
  background: var(--b-default);
  border: 1px solid var(--c-border);
  border-radius: 2px;
  z-index: 101;
  top: 22px;
  right: 0;
  display: none;
  white-space: nowrap;
}
.w-textarea-input input {
  width: 246px;
  height: 32px;
  border: 1px solid var(--c-border);
  border-radius: 2px;
  padding: 0 5px;
  vertical-align: middle;
}
.w-textarea-input .btn {
  height: 32px;
  padding: 0 12px;
  vertical-align: middle;
  border-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: 1px;
}

.w-textview-tips {
  color: var(--c-disabled);
  text-align: center;
  width: 520px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.w-textview-tips p {
  font-size: 14px;
  line-height: 36px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.w-textview-tips a {
  font-size: 12px;
  color: var(--c-disabled);
  text-decoration: none;
}
a.w-textview-tips {
  color: var(--c-link);
}
.w-textview-tips a:hover,
a.w-textview-tips:hover {
  text-decoration: underline;
}

.w-textview-tips a.glyphicon-question-sign {
  text-decoration: none!important;
}
