.w-textarea {
  position: relative;
}
.w-textarea-bar {
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  top: 2px;
  right: 12px;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.5;
  background: #eee;
}
.w-textarea:hover .w-textarea-bar {
  display: block;
}
.w-textarea-bar a {
  display: inline-block;
  text-decoration: none;
  color: #747474;
  padding: 0 5px;
}
.w-textarea-bar a:hover {
  color: #333373;
}
.w-textarea-bar .w-add,
.w-textarea-bar .w-download {
  display: inline-block;
}

.w-textarea-input {
  display: block;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  z-index: 101;
  top: 22px;
  right: 0;
  display: none;
  white-space: nowrap;
}
.w-textarea-input input {
  width: 246px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 5px;
  vertical-align: middle;
}
.w-textarea-input .btn {
  height: 32px;
  padding: 0 12px;
  vertical-align: middle;
  border-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: 1px;
}

.w-textview-tips {
  color: #aaa;
  text-align: center;
  width: 520px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -260px;
}
.w-textview-tips p {
  font-size: 14px;
  line-height: 36px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.w-textview-tips a {
  font-size: 12px;
  color: #aaa;
  text-decoration: none;
}
a.w-textview-tips {
  color: #337ab7;
}
.w-textview-tips a:hover,
a.w-textview-tips:hover {
  text-decoration: underline;
}
