.w-timeline ul,
.w-timeline li {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  width: 100%;
  display: block;
}
.w-timeline li {
  padding: 2px 0 2px;
  position: relative;
  white-space: nowrap;
  margin-bottom: 12px;
}
.w-timeline span {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
.w-timeline-url {
  padding-right: 5px;
  width: 18%;
  max-width: 200px;
  text-align: right;
}
.w-timeline-stalled {
  background: #aaa;
}
.w-timeline-ttfb {
  background: #ddd;
}
.w-timeline-dns {
  background: #8cd2c6;
}
.w-timeline-request {
  background: #fdfdb2;
}
.w-timeline-response {
  background: #fbb361;
}
.w-timeline-load {
  background: #7eabe1;
}
.w-timeline-multi:hover .w-timeline-url {
  color: #337ab7;
}
.w-timeline-time {
  position: absolute;
  top: 2px;
  right: 0;
  padding-right: 5px;
}
.w-timeline-one .w-timeline-url {
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}
.w-timeline-one .w-timeline-time {
  left: 18% !important;
}
.w-timeline-full-url {
  width: 82%;
}
