.w-detail-log {
  position: relative;
  min-width: 560px;
}
.w-detail-log ul,
.w-detail-log li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  font-size: 12px;
}
.w-detail-log li {
  width: 100%;
  padding: 1px 0;
  position: relative;
}
.w-detail-log pre {
  background: none;
  border: none;
  padding: 10px;
  margin: 0;
  font-size: 12px;
}

.w-detail-page-log li.w-fatal {
  background: #bbb;
}
.w-detail-page-log li.w-error {
  background: #ffefef;
}
.w-detail-page-log li.w-warn {
  background: #fffbe6;
}
.w-detail-page-log li.w-info {
  background: #fff;
}
.w-detail-page-log li.w-debug {
  background: #f5f5f5;
}
.w-detail-page-log li.w-error pre {
  color: #c41a16;
}
.w-detail-page-log li.w-warn pre {
  color: #5c3b00;
}

.w-detail-page-log li > pre > ul {
  display: inline-block;
  background: transparent !important;
  margin: 0 0 0 10px !important;
  vertical-align: top;
}
.w-detail-page-log li > pre > span {
  vertical-align: top;
  line-height: 24px;
}
.w-detail-page-log li > pre ul,
.w-detail-page-log li > pre li {
  width: auto !important;
}
.w-detail-page-log > .w-detail-log-content > ul > li {
  border-bottom: 1px solid #ddd;
}
.w-detail-page-log li > pre > span {
  margin-left: 10px;
}
.w-detail-page-log li > pre > span:first-child,
.w-detail-page-log li > pre > ul:first-child {
  margin-left: 0 !important;
}

.w-detail-svr-log li.w-fatal pre {
  color: magenta;
}
.w-detail-svr-log li.w-error pre {
  color: red;
}
.w-detail-svr-log li.w-warn pre {
  color: yellow;
}
.w-detail-svr-log li.w-info pre {
  color: green;
}
.w-detail-svr-log li.w-debug pre {
  color: cyan;
}
.w-detail-svr-log li.w-trace pre {
  color: grey;
}

.w-detail-log-bar {
  position: fixed;
  z-index: 1;
  border-radius: 2px;
  right: 5px;
  font-size: 12px;
  top: 61px;
  white-space: nowrap;
  line-height: 1.5;
  background: #eee;
}
.w-detail-log-bar a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 0 5px;
}
.w-detail-log-bar a:hover {
  color: #337ab7;
}

.w-detail-page-log,
.w-detail-svr-log {
  overflow: auto;
}
.w-detail-svr-log .w-detail-log-content {
  background: #002240;
}
.w-detail-log-content {
  overflow: auto;
}
.w-log-action-bar {
  background: #f1f3f4;
  line-height: 20px;
  height: 21px;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-left: 10px;
}
.w-log-action-bar .w-textarea-bar {
  right: 5px !important;
  display: block !important;
  background: transparent;
  position: absolute !important;
  top: 1px !important;
}
.w-log-action-bar .w-textarea-bar.hide {
  display: none !important;
}
.w-log-action-bar .w-textarea-bar a {
  color: #000;
}
.w-log-action-bar .w-textarea-bar a:hover {
  color: #337ab7;
}
.w-log-action-bar > .w-dropdown {
  margin-right: 20px;
  width: 65px;
}
.w-textarea-bar .w-disabled {
  cursor: not-allowed;
  color: #aaa !important;
}
.w-textarea-bar .w-refresh-menu-list {
  display: inline-block;
}

.w-detail-log .w-textarea-bar .w-menu-item {
  top: 21px;
  right: 0;
}

.w-detail-log .w-textarea-bar a {
  padding-bottom: 2px;
}

.w-log-expand-root {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: top;
  margin-left: 15px;
}

.w-log-expand-root input {
  margin-right: 5px;
  vertical-align: text-bottom;
}

.w-tool-box-ctn {
  display: block;
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
}
.w-tool-box {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}
.w-tool-box .w-detail-inspectors-title {
  border: none;
  border-right: 1px solid #ccc;
  line-height: 20px;
}

.w-tool-box .w-detail-inspectors-title button {
  height: 18px;
  line-height: 16px;
  font-size: 12px;
  float: right;
  padding: 0 10px;
  margin-top: 1px;
}

.w-tool-box-base64 {
  height: 120px;
  line-height: 112px;
  text-align: center;
  border: 1px solid #ccc;
  color: #aaa;
  font-size: 16px;
  background: #fff;
  font-weight: 400;
}

.w-text-dialog .modal-dialog {
  width: 900px;
}

.w-json-dialog .modal-dialog {
  width: 745px;
}

.w-generate-cert input {
  line-height: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 0;
  border: 1px solid #ccc;
  display: block;
}

.w-generate-cert button {
  border-radius: 0;
}

.w-detail-log .w-custom-tabs {
  height: 22px;
  background-color: #f1f3f4;
}

.w-detail-log .w-custom-tabs button.w-spec-active {
  background-color: #e6e6e6;
}

.w-detail-log .w-custom-tabs button {
  border: none;
  border-right: 1px solid #ccc;
  height: 22px;
  line-height: 18px;
  font-size: 12px;
  padding: 0 12px;
  border-radius: 0;
}
