.w-tools {
  position: relative;
  min-width: 560px;
}
.w-tools ul,
.w-tools li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  font-size: 12px;
}
.w-tools li {
  width: 100%;
  padding: 1px 0;
  position: relative;
}
.w-tools pre {
  background: none;
  border: none;
  padding: 10px;
  margin: 0;
  font-size: 12px;
}

.w-log li.w-fatal {
  background: var(--b-gray);
}
.w-log li.w-error {
  background: var(--b-error);
}
.w-log li.w-warn {
  background: var(--b-warn);
}
.w-log li.w-info {
  background: var(--b-default);
}
.w-log li.w-debug {
  background: var(--b-disabled);
}
.w-log li.w-error pre {
  color: var(--c-error);
}
.w-log li.w-warn pre {
  color: var(--c-warn);
}

.w-log li > pre > ul {
  display: inline-block;
  background: transparent !important;
  margin: 0 0 0 10px !important;
  vertical-align: top;
}
.w-log li > pre > span {
  vertical-align: top;
  line-height: 24px;
}
.w-log li > pre ul,
.w-log li > pre li {
  width: auto !important;
}
.w-log > .w-log-ctn > ul > li {
  border-bottom: 1px solid var(--c-border);
}
.w-log li > pre > span {
  margin-left: 10px;
}
.w-log li > pre > span:first-child,
.w-log li > pre > ul:first-child {
  margin-left: 0 !important;
}

.w-server-log li.w-fatal pre {
  color: var(--c-risk);
}
.w-server-log li.w-error pre {
  color: var(--c-error);
}
.w-server-log li.w-warn pre {
  color: var(--c-warn-active);
}
.w-server-log li.w-info pre {
  color: var(--c-ok);
}
.w-server-log li.w-debug pre {
  color: var(--c-editor);
}
.w-server-log li.w-trace pre {
  color: var(--c-disabled);
}
.w-log, .w-server-log {
  overflow: auto;
}
.w-server-log .w-log-ctn {
  background: var(--b-editor);
}
.w-log-ctn {
  overflow: auto;
}
.w-log-ctn strong {
  margin-right: 5px;
}
.w-log-action-bar {
  background: var(--b-title);
  line-height: 20px;
  height: 21px;
  border-bottom: 1px solid var(--c-border);
  position: relative;
  padding-left: 10px;
}
.w-log-action-bar .w-textarea-bar {
  right: 5px !important;
  display: block !important;
  background: transparent;
  position: absolute !important;
  top: 1px !important;
}
.w-log-action-bar .w-textarea-bar.hide {
  display: none !important;
}
.w-log-action-bar .w-textarea-bar a {
  color: var(--c-default);
}
.w-log-action-bar .w-textarea-bar a:hover {
  color: var(--c-link);
}
.w-log-action-bar > .w-dropdown {
  margin-right: 18px;
  width: 70px;
}
.w-textarea-bar .w-disabled, .w-com-enable-body.w-disabled {
  cursor: default;
  color: var(--c-disabled) !important;
}
.w-textarea-bar .w-switch-btn {
  display: inline-block;
}

.w-tools .w-textarea-bar .w-menu-item {
  top: 21px;
}

.w-tools .w-textarea-bar .w-switch-btn {
  padding-bottom: 2px;
}

.w-tools .w-textarea-bar a {
  padding-bottom: 2px;
}

.w-log-expand-root {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: top;
  margin-left: 15px;
}

.w-log-expand-root input {
  margin-right: 5px;
  vertical-align: text-bottom;
}

.w-tool-box-ctn {
  display: block;
  width: 100%;
  height: 160px;
  border: 1px solid var(--c-border);
  padding: 5px;
}
.w-tool-box {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}
.w-tool-box .w-detail-inspectors-title {
  border: none;
  border-right: 1px solid var(--c-border);
  line-height: 20px;
}

.w-tool-box .w-detail-inspectors-title button {
  height: 18px;
  line-height: 16px;
  font-size: 12px;
  float: right;
  padding: 0 10px;
  margin-top: 1px;
}

.w-tool-box-base64 {
  height: 100px;
  line-height: 92px;
  text-align: center;
  border: 1px solid var(--c-border);
  color: var(--c-disabled);
  font-size: 16px;
  background: var(--b-default);
  font-weight: 400;
}

.w-text-dialog .modal-dialog {
  width: 900px;
}

.w-json-dialog .modal-dialog {
  width: 905px;
}

.w-text-dialog textarea {
  width: 879px;
  border: 1px solid var(--c-border);
  border-radius: 3px;
  padding: 5px;
}

.w-text-dialog .w-textarea {
  width: 880px;
}

.w-text-dialog button.close {
  margin-top: -3px;
}

.w-mock-file button.close {
  top: 3px;
  right: 5px;
  height: 22px;
  line-height: 1;
  padding: 0;
  position: absolute;
  width: 22px;
}

.w-mock-dialog .modal-dialog {
  width: 1000px;
}

.w-rules-dialog {
  z-index: var(--z-modal);
}
.w-create-rules-dialog {
  z-index: calc(var(--z-modal) + 1);
}
.w-rules-dialog .modal-dialog {
  width: 1020px;
}

.w-generate-cert input {
  line-height: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 0;
  border: 1px solid var(--c-border);
  display: block;
}

.w-generate-cert button {
  border-radius: 0;
}

.w-tools .w-custom-tabs {
  height: 22px;
  background-color: var(--b-title);
}

.w-tools .w-custom-tabs button.w-spec-active {
  background-color: var(--b-btn-hover);
}

.w-tools .w-custom-tabs button {
  border: none;
  border-right: 1px solid var(--c-border);
  height: 22px;
  line-height: 18px;
  font-size: 12px;
  padding: 0 12px;
  border-radius: 0;
}

.w-mock-preview {
  line-height: 16px;
  min-height: 36px;
  max-height: 120px;
  padding: 10px;
  overflow: auto;
  background-color: var(--b-disabled);
  display: inline-block;
  width: 820px;
  vertical-align: top;
  white-space: pre;
  position: relative;
  font-size: 13px;
}

.w-mock-dialog .form-control {
  height: 32px;
  border-radius: 2px;
  box-shadow: none;
  display: inline-block;
  vertical-align: middle;
}

.w-mock-dialog  .glyphicon-question-sign {
  margin-right: 5px;
}

.w-mock-row {
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
  margin-top: 15px;
  position: relative;
}

.w-mock-row span {
  display: inline-block;
  width: 120px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
}

.w-mock-row a, .w-big-editor-dialog .w-mock-action a {
  color: var(--c-default);
  text-decoration: none;
}

.w-mock-row a:hover, .w-big-editor-dialog .w-mock-action a:hover {
  color: var(--c-link-hover);
}

.w-url-pattern {
  width: 778px;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.w-mock-row .w-com-params {
  line-height: 30px;
  border-left: none;
}

.w-mock-protocol {
  width: 160px;
  padding-right: 0;
}

.w-mock-value-options {
  width: 105px;
  padding-right: 0;
  margin: 0 10px;
}

.w-mock-key-name {
  width: 375px;
  margin: 0 10px 0 0;
  margin-left: 10px;
  font-weight: bold;
}

.w-mock-value-type {
  width: 170px;
  padding-right: 10px;
}

.w-mock-comment {
  display: none;
}

.w-mock-file .w-mock-comment {
  margin-left: 20px;
  display: inline-block;
  color: var(--c-thin);
}

.w-mock-file .w-mock-comment input {
  margin-left: 5px;
  width: 291px;
  font-weight: normal;
  font-size: 12px;
 }

.w-mock-dialog .modal-footer select {
  width: 220px;
  vertical-align: middle;
  margin-right: 20px;
}

.w-mock-inline {
  display: inline-block;
  vertical-align: top;
  width: 555px;
  height: 200px;
  border: 1px solid var(--c-border);
  border-radius: 2px;
  padding: 5px;
}

.w-mock-row .w-mock-rules-action {
  display: none;
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 1;
}

.w-mock-row .w-mock-rules-action a,
.w-mock-row .w-mock-action a,
.w-big-editor-dialog .modal-body .w-mock-action a {
  padding: 0 6px;
  border-radius: 2px;
  background: var(--b-title);
  display: inline-block;
  color: var(--c-thin);
}

.w-mock-row .w-mock-rules-action a:hover,
.w-mock-row .w-mock-action a:hover,
.w-big-editor-dialog .modal-body .w-mock-action a:hover {
  color: var(--c-default);
}

.w-mock-row:hover .w-mock-rules-action {
  display: inline-block;
}

.w-rules-dialog select {
  margin: 0 10px;
  width: 260px;
  display: inline-block;
  vertical-align: middle;
}

.w-rules-dialog .w-list-content {
  height: 500px;
}

.w-rules-dialog .CodeMirror {
  border-radius: 3px;
}

.w-rules-dialog .modal-title {
  padding: 10px 0;
  font-weight: bold;
}

.w-mock-action {
  top: 2px;
  right: 20px;
  position: absolute;
  display: none;
}

.w-big-editor-dialog .modal-body .w-mock-action {
  top: 12px;
  right: 11px;
  font-size: 12px;
}

.w-mock-row:hover .w-mock-action, .w-big-editor-dialog .modal-body:hover .w-mock-action {
  display: block;
  background: var(--b-title);
  border-radius: 3px;
  z-index: 1;
}

.w-mock-dialog, .w-mock-dialog .form-control {
  font-size: 13px;
}

.w-mock-dialog .w-mock-row .glyphicon-trash {
  position: absolute;
  display: inline-block;
  width: 16px;
  top: 12px;
  right: 15px;
  color: var(--c-thin);
  cursor: pointer;
}

.w-mock-dialog .w-mock-row .glyphicon-trash:hover {
  color: var(--c-default);
}

.w-mock-dialog .w-com-params-editor {
  top: 60px;
  right: 30px;
  width: 840px;
}

.w-com-params-editor .w-params-clear-btn .glyphicon-trash {
  width: 16px;
  margin-right: 0;
}

.w-console-dialog .modal-body {
  height: calc(100vh - 120px);
  min-height: 360px;
  padding: 0;
}

.w-console-dialog.modal-dialog {
  width: 960px;
}
