.w-detail-log {
  position: relative;
  min-width: 560px;
}
.w-detail-log ul,
.w-detail-log li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  font-size: 12px;
}
.w-detail-log li {
  width: 100%;
  padding: 1px 0;
  position: relative;
}
.w-detail-log pre {
  background: none;
  border: none;
  padding: 10px;
  margin: 0;
  font-size: 12px;
}

.w-detail-page-log li.w-fatal {
  background: #bbb;
}
.w-detail-page-log li.w-error {
  background: #ffefef;
}
.w-detail-page-log li.w-warn {
  background: #fffbe6;
}
.w-detail-page-log li.w-info {
  background: #fff;
}
.w-detail-page-log li.w-debug {
  background: #f5f5f5;
}
.w-detail-page-log li.w-error pre {
  color: #c41a16;
}
.w-detail-page-log li.w-warn pre {
  color: #5c3b00;
}

.w-detail-page-log li > pre > ul {
  display: inline-block;
  background: transparent !important;
  margin: 0 0 0 10px !important;
  vertical-align: top;
}
.w-detail-page-log li > pre > span {
  vertical-align: top;
  line-height: 24px;
}
.w-detail-page-log li > pre ul,
.w-detail-page-log li > pre li {
  width: auto !important;
}
.w-detail-page-log > .w-detail-log-content > ul > li {
  border-bottom: 1px solid #ddd;
}
.w-detail-page-log li > pre > span {
  margin-left: 10px;
}
.w-detail-page-log li > pre > span:first-child,
.w-detail-page-log li > pre > ul:first-child {
  margin-left: 0 !important;
}

.w-detail-svr-log li.w-fatal pre {
  color: magenta;
}
.w-detail-svr-log li.w-error pre {
  color: red;
}
.w-detail-svr-log li.w-warn pre {
  color: yellow;
}
.w-detail-svr-log li.w-info pre {
  color: green;
}
.w-detail-svr-log li.w-debug pre {
  color: cyan;
}
.w-detail-svr-log li.w-trace pre {
  color: grey;
}

.w-detail-log-bar {
  position: fixed;
  z-index: 1;
  border-radius: 2px;
  right: 5px;
  font-size: 12px;
  top: 61px;
  white-space: nowrap;
  line-height: 1.5;
  background: #eee;
}
.w-detail-log-bar a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 0 5px;
}
.w-detail-log-bar a:hover {
  color: #337ab7;
}

.w-detail-page-log,
.w-detail-svr-log {
  overflow: auto;
}
.w-detail-svr-log .w-detail-log-content {
  background: #002240;
}
.w-detail-log-content {
  overflow: auto;
}
.w-log-action-bar {
  background: #f1f3f4;
  line-height: 20px;
  height: 21px;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-left: 10px;
}
.w-log-action-bar .w-textarea-bar {
  right: 5px !important;
  display: block !important;
  background: transparent;
  position: absolute !important;
  top: 1px !important;
}
.w-log-action-bar .w-textarea-bar.hide {
  display: none !important;
}
.w-log-action-bar .w-textarea-bar a {
  color: #000;
}
.w-log-action-bar .w-textarea-bar a:hover {
  color: #337ab7;
}
.w-log-action-bar > .w-dropdown {
  margin-right: 20px;
  width: 65px;
}
.w-textarea-bar .w-disabled {
  cursor: not-allowed;
  color: #aaa !important;
}
.w-textarea-bar .w-refresh-menu-list {
  display: inline-block;
}

.w-detail-log .w-textarea-bar .w-menu-item {
  top: 21px;
}

.w-detail-log .w-textarea-bar .w-refresh-menu-list {
  padding-bottom: 2px;
}

.w-detail-log .w-textarea-bar a {
  padding-bottom: 2px;
}

.w-log-expand-root {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: top;
  margin-left: 15px;
}

.w-log-expand-root input {
  margin-right: 5px;
  vertical-align: text-bottom;
}

.w-tool-box-ctn {
  display: block;
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
}
.w-tool-box {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}
.w-tool-box .w-detail-inspectors-title {
  border: none;
  border-right: 1px solid #ccc;
  line-height: 20px;
}

.w-tool-box .w-detail-inspectors-title button {
  height: 18px;
  line-height: 16px;
  font-size: 12px;
  float: right;
  padding: 0 10px;
  margin-top: 1px;
}

.w-tool-box-base64 {
  height: 120px;
  line-height: 112px;
  text-align: center;
  border: 1px solid #ccc;
  color: #aaa;
  font-size: 16px;
  background: #fff;
  font-weight: 400;
}

.w-text-dialog .modal-dialog {
  width: 900px;
}

.w-json-dialog .modal-dialog {
  width: 905px;
}

.w-mock-dialog .modal-dialog {
  width: 1000px;
}

.w-mock-dialog .modal-dialog select {
  background-color: #f6f6f6;
}

.w-rules-dialog .modal-dialog {
  width: 1020px;
}

.w-generate-cert input {
  line-height: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 0;
  border: 1px solid #ccc;
  display: block;
}

.w-generate-cert button {
  border-radius: 0;
}

.w-detail-log .w-custom-tabs {
  height: 22px;
  background-color: #f1f3f4;
}

.w-detail-log .w-custom-tabs button.w-spec-active {
  background-color: #e6e6e6;
}

.w-detail-log .w-custom-tabs button {
  border: none;
  border-right: 1px solid #ccc;
  height: 22px;
  line-height: 18px;
  font-size: 12px;
  padding: 0 12px;
  border-radius: 0;
}

.w-mock-preview {
  line-height: 16px;
  min-height: 36px;
  max-height: 120px;
  padding: 10px;
  overflow: auto;
  background-color: #f6f6f6;
  display: inline-block;
  width: 820px;
  vertical-align: top;
  white-space: pre;
  position: relative;
  font-size: 13px;
}

.w-mock-dialog .form-control {
  height: 32px;
  border-radius: 2px;
  box-shadow: none;
  display: inline-block;
  vertical-align: middle;
}

.w-mock-dialog  .glyphicon-question-sign {
  margin-right: 5px;
}

.w-mock-row {
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
  margin-top: 15px;
  position: relative;
}

.w-mock-row span {
  display: inline-block;
  width: 120px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
}

.w-mock-row a {
  color: #000;
  text-decoration: none;
}

.w-mock-row a:hover {
  color: #23527c;
}

.w-url-pattern {
  width: 778px;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.w-mock-row .w-composer-params {
  line-height: 30px;
  border-left: none;
}

.w-mock-protocol {
  width: 160px;
  padding-right: 0;
}

.w-mock-value-options {
  width: 105px;
  padding-right: 0;
  margin: 0 10px;
}

.w-mock-key-name {
  width: 375px;
  margin: 0 10px 0 0;
  margin-left: 10px;
  font-weight: bold;
}

.w-mock-value-type {
  width: 170px;
  padding-right: 10px;
}

.w-mock-comment {
  display: none;
}

.w-mock-file .w-mock-comment {
  margin-left: 20px;
  display: inline-block;
  color: #555;
}

.w-mock-file .w-mock-comment input {
  margin-left: 5px;
  width: 300px;
  font-weight: normal;
  font-size: 12px;
 }

.w-mock-dialog .modal-footer select {
  width: 220px;
  vertical-align: middle;
  margin-right: 20px;
}

.w-mock-inline {
  display: inline-block;
  vertical-align: top;
  width: 555px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px;
}

.w-mock-row .w-mock-rules-action {
  display: none;
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 1;
}

.w-mock-row .w-mock-rules-action a, .w-mock-row .w-mock-inline-action a {
  padding: 0 6px;
  border-radius: 2px;
  background-color: #f0f0f0;
  display: inline-block;
  color: #747474;
}

.w-mock-row:hover .w-mock-rules-action {
  display: inline-block;
}

.w-rules-dialog select {
  margin: 0 10px;
  width: 260px;
  display: inline-block;
  vertical-align: middle;
}

.w-rules-dialog .w-list-content {
  height: 500px;
}

.w-rules-dialog .CodeMirror {
  border-radius: 3px;
}

.w-rules-dialog .modal-title {
  padding: 10px 0;
  font-weight: bold;
}

.w-mock-inline-action {
  top: 2px;
  right: 20px;
  position: absolute;
  display: none;
}

.w-mock-row:hover .w-mock-inline-action {
  display: block;
  background: #f0f0f0;
  border-radius: 3px;
}

.w-mock-dialog, .w-mock-dialog .form-control {
  font-size: 13px;
}

.w-mock-dialog .w-mock-row .glyphicon-trash {
  position: absolute;
  display: inline-block;
  width: 16px;
  top: 12px;
  right: 18px;
  color: #747474;
  cursor: pointer;
}

.w-mock-dialog .w-composer-params-editor {
  top: 60px;
  right: 30px;
  width: 840px;
}

.w-composer-params-editor .w-params-clear-btn .glyphicon-trash {
  width: 16px;
  margin-right: 0;
}
